
/* body */
body { font-family: arial,sans-serif; font-size: 12.8px; padding:0px; margin: 0px; background-color: #FFF; word-wrap: break-word; }
body#reply_message { overflow: hidden; }
html {  padding:0px; margin: 0px; }
table, tbody, tr, td { border-collapse: collapse; font-size: inherit; border: none; border-image-width: 0px;
  -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; vertical-align: top; }

.pgp_secure { border:none; border-left: 3px dashed green; padding-left:10px; min-height: 25px; }
.pgp_insecure { border:none; border-left: 3px dashed red; padding-left:10px; min-height: 25px; }

/* compose table */
table#compose { height: 100%; border-spacing: 0px; border-collapse: collapse; }
table#compose th { width: 538px; height: 36px; background-color: #404040; text-align: left; margin: 0px; border: 1px solid #404040}
table#compose td.input { height: 42px; vertical-align: middle; }
table#compose th h1 { display: inline-block; margin: none; padding: none; font-size: 13.8px; font-weight: normal; color: #FFF; text-align: left; margin-left: 10px;}
table#compose th span.close_new_message { display: inline-block; position: absolute; right: 0px; margin-right: 6px; margin-top: -3px; color: white;
  font-weight: bold; opacity: .6; height: 16px; width: 16px; text-align: center; padding: 5px; }
table#compose th span.close_new_message:hover { cursor: pointer; opacity: 1; }
table#compose td { border: 1px solid #cfcfcf; border-top: none;  margin: 0px;}
table#compose td input { border: none; width: 100%; height: 100%; margin: 0px; padding: 6px; padding-left: 9px; background: none; outline: none;}
table#compose td.input.show_send_from { height: 84px; }
table#compose td.input.show_send_from input#input_to { height: 50%; }
table#compose td.input.show_send_from select#input_from { height: 50%; border: none; background: none; padding: 6px; padding-left: 6px; margin-top: 10px; width: 98%; outline: none; }
table#compose td.bottom { background-color: #f5f5f5; padding: 0px; height: 42px; padding-left:9px;}
table#compose td.bottom div#send_btn { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none; background-color: #d14836;
  background-image: -webkit-linear-gradient(top, #dd4b39, #d14836); background-image: linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent; position: relative; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center;
  white-space: nowrap; margin-right: 16px; min-width: 56px; height: 27px; line-height: 27px; outline: 0; padding: 5px 25px; margin: 6px 2px;
  vertical-align: middle; padding: 5px 25px 5px 40px; -webkit-transition: .5s!important; transition: .5s!important; }
table#compose .close_new_message i.ion-android-close { font-size: 27px; top: 10px!important; color: white; margin-top: -5px; }
table#compose td.bottom div#send_btn_note { display: inline-block; font-size: 12.8px; padding-left: 5px; }
table#compose td div#input_text { border: none; overflow: none; padding-top:8px; padding-left:8px; outline: none; border: none !important; -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; box-shadow: none !important; height:100%; word-wrap: break-word; max-width: 525px;}
table#compose .fa-close { font-size: 20px; margin-top: -1px; }
table#compose #send_btn i { font-size: 20px; }
table#compose #send_btn .fa-lock, #send_btn  .fa-unlock { position: relative; left: -3px; top: 3px; }
.spinner svg { display: none; }
.spinner .active svg { display: block; position: absolute; top:0; right: 0; left:0; bottom:0; display: block!important; opacity: 1!important; }
div#contacts { display: none; position: absolute; background: white; top: 74px; border: 1px solid rgba(0,0,0,.2); left: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.2); padding: 6px 0; }
div#contacts ul { padding: 0; margin: 0; min-width: 320px; padding: 0; margin: 0; min-width: 320px; }
div#contacts ul li { padding: 13px; height: 16px; }
div#contacts ul li i { padding-left: 6px; padding-right: 12px; color: #228B22; }
div#contacts ul li:first-child { background: #eee; }
div#contacts:hover ul li:first-child { background: none; }
div#contacts:hover ul li:first-child:hover { background: #eee; }
div#contacts:hover ul li:hover { background: #eee; }
table#compose .bottom .icon { padding: 3px 4px; display: inline-block; border: 1px solid #f5f5f5; border-radius: 2px; opacity: 0.5; }
table#compose .bottom .icon:hover { border-color: #dadada; opacity: 1; }
table#compose .bottom .icon:active { border-color: #4d90fe; }
table#compose .bottom .icon div { height: 21px; width: 21px; vertical-align: middle; padding: 0; display: inline-block; margin-top: 4px }
table#compose .bottom .icon.attach div {  background: no-repeat url(/img/gmail-compose-icons.png) 0 -709px;  overflow: inherit !important; }
table#compose #fineuploader { position: absolute; bottom: 56px; right: 1px; }
table#compose #fineuploader .qq-uploader-selector { overflow: hidden; }
table#compose #fineuploader .qq-total-progress-bar-container { display: none; height: 0; border: 0; visibility: hidden; position: absolute; }
table#compose #fineuploader .qq-upload-list {overflow-x: hidden; }
table#compose #fineuploader .qq-upload-list::-webkit-scrollbar {  width: 0 !important;}
table#compose #fineuploader .qq-upload-list li { border: none; background: #fff; opacity: 0.75; margin-left: 12px;}
table#compose #fineuploader .qq-upload-list [class^="qq-file-id"] { background: #f3f3f3; border: 1px solid #ccc; margin: 5px 0; position: relative; margin-left: 11px; margin-right: 7px;}
table#compose #fineuploader .qq-upload-cancel  {background: transparent; border:0; box-shadow: none; }
table#compose #fineuploader .ion-android-close {font-size: 22px; position: absolute; top:7px; bottom:0;}


/* secure or insecure */
.email_plain { color: #d14836 !important;}
.email_secure { color: #088447 !important;}
table#compose td.bottom div#send_btn.button_secure { background-color: #088447 !important; padding: 5px 25px 5px 40px;
  background-image: -webkit-linear-gradient(top,#0F8C4F,#088447); }
table#compose td.bottom div#send_btn.button_insecure { background-color: #088447 !important; min-width: 180px !important;
  background-image: -webkit-linear-gradient(top,#0F8C4F,#088447); }

/* reply elements */
div#reply_message_table_container { display: none; }
div#reply_message_prompt { border: 1px solid #d9d9d9 !important; border-top: 1px solid #c0c0c0 !important; min-height: 72px; padding: 8px 0 0 8px; }
a#a_reply, a#a_reply_all, a#a_forward {}
p#reply_links { margin: 0px; }
div#reply_message_table_container table#compose { border-top: 1px solid #cfcfcf; width: 100%; }
div#reply_message_successful_container { width: 100%; display: none; }
div#reply_message_successful_container > table { width: 100%; margin: 0px; padding: 0px; }
div#reply_message_successful_container > table td { vertical-align: top; }
div#reply_message_successful_container > table tr.first { margin-bottom: 20px; }
div#reply_message_successful_container > table td.right { text-align: right; }
div#reply_message_successful_container > table div.replied_from { font-weight: bold; margin-bottom: 4px; }
div#reply_message_successful_container > table div.replied_to { color: #777; margin-bottom: 10px; }
div#reply_message_successful_container > table div.replied_time { }
div#reply_message_successful_container > table div.replied_time { }
div#reply_message_successful_container > #attachments { border-top: 1px dotted #CACACA; padding-top: 16px; margin-top: 22px; display: none; }
div#reply_message_successful_container > #attachments > span.pgp_attachment { margin-right: 16px; margin-bottom: 16px; display: inline-block; }
div#reply_message_successful_container > #attachments > span.pgp_attachment > iframe { height: 120px; width: 180px; margin: 0; padding: 0; border: none; overflow: hidden; }


body.attachment { border: 1px solid #dadada; border-radius: 2px; text-align: center; font-size: 11px; background-image: url(/img/attachment-corner.png);
  background-repeat: no-repeat; background-position: bottom right; z-index: 0; }
body.attachment:hover { border-color: #eaeaea; }
body.attachment #download { position: absolute; width: 178px;  z-index: 1;  background-color: white; height: 118px; opacity: 1; color: #444; visibility: hidden; }
body.attachment #download:hover, body.attachment:hover #download { visibility: visible; cursor: pointer; }
body.attachment #download i { font-size: 50px; padding: 20px; padding-bottom: 6px;}
body.attachment #download .download-prompt { font-size: 17px; }
body.attachment #header { margin-top:10px; padding-bottom: 0px; font-weight: bold; font-size: 15px; }
body.attachment #type { padding: 10px 0; color: #999; }
body.attachment #name { padding: 7px 0; background: #f3f3f3; position: absolute; bottom: 0; left: 0; right: 0; border: 1px solid #dadada; font-size: 13px;}
body.attachment .encrypted-circle { background: rgb(92, 148, 103); display: inline-block; width: 35px; height: 35px; border-radius: 120px; position: relative; margin-top: 10px; margin-bottom: 5px;}
body.attachment .encrypted-circle .ion-locked { position: absolute;top: 7px; bottom: 0; left: 1px; right: 0; font-size: 19px; color: white; }
