/nbproject/private/
.idea
/firefox
*.zip
*.crx
*.xpi
*.pem
/temp/
.DS_Store
!.gitignore
!/config/.gitignore
/test/puppeteer.json
/test/node_modules/
/test/test.js
/chrome/js/common/composer.js
/chrome/js/common/common.js
#/chrome/js/background_process/attests.js
#/chrome/js/background_process/background_process.js
#/chrome/js/background_process/migrations.js
#/chrome/js/background_process/inject.js
/node_modules/
