/nbproject/private/
.idea
*.zip
*.crx
*.xpi
*.pem
/temp/
.DS_Store
!.gitignore
!/config/.gitignore
/test/test-secrets.json
/test/puppeteer.json
/test/node_modules/
/test/build/*
/test/samples/oversize.txt
/node_modules/
/build/*
release/log.txt
release/*
npm-debug.log
/rt.sh
