/* © 2016-2018 FlowCrypt Limited. Limitations apply. Contact human@flowcrypt.com */

html,
body {
  height: 64px;
  font-family: 'Open Sans';
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.action_open_settings {
  display: block;
  position: absolute;
  right: 6px;
  top: 7px;
  cursor: pointer;
}

.action_open_settings:hover svg {
  transform: scale(1.06);
}

.menu-row {
  display: block;
  width: 300px;
  background: #31a217;
  position: relative;
  cursor: pointer !important;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  margin-right: 64px;
  height: 64px;
}

.menu-row span:first-child {
  width: 250px;
  color: white;
  padding-left: 20px;
}

.menu-row span:first-child {
  width: 250px;
}

.menu-row span:nth-child(2) {
  position: absolute;
  width: 60px;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  text-align: center;
  height: 40px;
  background: white;
}

.menu-row span:nth-child(2):hover {
  background: #f3f3f3;
}

.menu-row span:nth-child(2) svg,
.menu-row span:nth-child(2) {
  transition: 0.3s;
}

.profile-row {
  cursor: pointer;
  height: 50px;
  position: relative;
  right: 50px;
  transition: 0.5s;
  animation: fadeInUp 0.4s;
}

#email_or_settings {
  background-image: radial-gradient(50% 60%, #fff 40%, #fff 77%, #f3efef 100%);
}

#email_or_settings img {
  opacity: 0.85;
  transition: 0.3s;
  width: 48px;
  margin: 1px;
}

#email_or_settings img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.profile-row:hover::before {
  position: absolute;
  width: 250px;
  height: 120px;
  background: #f3f3f3;
  content: "";
}

.profile-row .action_open_settings {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 5px;
  margin-right: 5px;
  transition: 0.3s;
}

.profile-row .action_open_settings:hover {
  background: rgba(0, 0, 0, 0.034);
  transform: scale(1.1);
  opacity: 1;
}

.profile-row .action_open_settings:hover::before {
  background: transparent;
}

.profile-row .action_open_settings::before {
  background: rgba(0, 0, 0, 0.052);
  position: absolute;
  content: "";
  margin-left: -6px;
  left: 0;
  top: -5px;
  width: 2px;
  height: 60px;
}

.profile-row .profile-img {
  width: 27px;
  height: 27px;
  display: inline-block;
  border: 2px solid #f3f3f3;
  border-radius: 120px;
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  bottom: 0;
}

.action_open_encrypted_inbox {
  text-align: center;
  display: block;
  margin: 0 auto !important;
  padding: 17px 25px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 22px;
  animation: fadeInRight 0.3s;
}

.profile-row span {
  position: relative;
}

.active-profile {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  top: 15px;
  left: 49px;
  color: #337ab7;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 14px;
  height: 44px;
  padding-top: 6px;
}

li a {
  margin-top: 0 !important;
}

div.content ul.emails .button.long {
  font-weight: normal;
  width: 308px;
}
