/* © 2016-2018 FlowCrypt Limited. Limitations apply. Contact human@flowcrypt.com */

/* Badges */
.fc-badge {
  color: #eee;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  padding: 0.2em 0.35em;
}

.fc-badge-green {
  background-color: #31a217;
}

.fc-badge-red {
  background-color: rgb(197, 5, 5);
}

.fc-badge-yellow {
  background-color: #c27e23;
}

.fc-badge-orange {
  background-color: rgb(210, 74, 44);
}

.fc-badge-gray {
  background-color: rgb(97, 97, 97);
}

.fc-badge-light-gray {
  background-color: rgb(188, 188, 188);
  color: #444;
}
