/* Open Sans font family self-hosted according to directions provided by https://google-webfonts-helper.herokuapp.com */
/* File generated at URL https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=cyrillic-ext,greek,latin,vietnamese,cyrillic,greek-ext,latin-ext */
/* open-sans-300 - latin-ext_greek-ext_cyrillic_vietnamese_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('/fonts/open-sans/open-sans-v15-light.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/open-sans/open-sans-v15-light.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin-ext_greek-ext_cyrillic_vietnamese_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/fonts/open-sans/open-sans-v15-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/open-sans/open-sans-v15-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin-ext_greek-ext_cyrillic_vietnamese_latin_greek_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('/fonts/open-sans/open-sans-v15-semibold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/fonts/open-sans/open-sans-v15-semibold.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
