@font-face { font-family: 'signature'; src: url('/fonts/Tangerine_Regular.ttf'); }
@font-face { font-family: 'signature'; src: url('/fonts/Tangerine_Bold.ttf'); font-weight: bold; }

.button { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none;
  border: 1px solid transparent; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; text-align: center; white-space: nowrap;
  min-width: 56px; line-height: 27px; outline: 0; vertical-align: middle; margin-top: -7px; padding: 5px 15px; text-decoration: none; cursor: pointer; }
.button.long { width: 200px; }

.line.red, td.red, b.red, span.red { color: #d14836; }
.line.prange, td.orange, b.orange, span.orange { color: #d18826; }
.line.green, td.green, b.green, span.green { color: #31A217; }
.line.gray, td.gray, b.gray, span.gray { color: #B7B7B7; }
.hover_underline { text-decoration: none; }
.hover_underline:hover { text-decoration: underline; cursor: pointer; }
.green_label { color: white; background-color: #31A217; display: inline-block; min-width: 150px; padding: 0px 5px 1px 5px; text-transform: uppercase; }
.orange_label { color: white; background-color: #d18826; display: inline-block; min-width: 150px; padding: 0px 5px 1px 5px; text-transform: uppercase; }
.red_label { color: white; background-color: #d14836; display: inline-block; min-width: 150px; padding: 0px 5px 1px 5px; text-transform: uppercase; }
.button.red { background-color: #d14836; color: white;}
.button.green { background-color: #31A217; border:0 !important; color: white; }
.button.gray { background-color: #B7B7B7; background-image: -webkit-linear-gradient(top, #C5C5C5, #B7B7B7); color: white;}
.button.gray2 { background-color: #D9D9D9; background-image: -webkit-linear-gradient(top, #E9E9E9, #DFDFDF); color: #444;}
.button.small { padding: 0 7px; margin-top: 0; }
.button_secure.green { background:  #31A217; }
.toggle_show_hide_pass_phrase { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
  -ms-user-select: none; user-select: none; display: inline-block; position: absolute; width: 50px; text-align: center; padding-left: 4px;
    margin-left: -55px; margin-top: 1px; padding-top: 7px; cursor: pointer; opacity: 0.5; background: #dadada; height: 36px; line-height: 14px; }

.lightboxed { width: 700px; }
.lightboxed pre { padding-top: 0px; margin-top: 0px; }
.featherlight .featherlight-close-icon { background: none !important; }
.featherlight.new_message_featherlight .featherlight-content { background: none !important; }
.featherlight .featherlight-content > .line { color: white; text-align: center; opacity: 0.5; }
.good { color: #088447; }
.bad { color: #A44; }
.neutral { color: #B7B7B7; }

div.line { min-height: 18px; padding: 12px 0; max-width: 570px; margin:0 auto; position: relative;}
div.wide.line { max-width: 850px; }

body#settings { text-align: center; position: relative; font-family: 'Open Sans', sans-serif;}
body#settings > div#content {  margin-top: 120px; margin-bottom: 150px; }
body#settings > div#content.page { margin-top: 70px !important; margin-bottom: 50px; }
/*body#settings > div#content.page #page_back_button { display: none; position: absolute; top: 10px; left: 10px; }*/
body#settings > div#content.page h2 { font-size: 20px; font-weight: bold; color: #000; margin-top:50px; padding-bottom: 0; margin-bottom: 0; font-family: 'Open Sans', sans-serif; }
body#settings > div#content.page img.screen { border: 1px dotted #cacaca; }
body#settings > div#content h1 { font-size: 30px; font-weight: 100; color: #999; padding-bottom: 0; margin-bottom: 0; min-height: 40px; font-family: 'Open Sans', sans-serif; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.page h1 {font-size: 24px; font-weight: 200; }
body#settings > div#content a:hover { text-decoration: none; }
body#settings > div#content > div#accounts a.button.has_email { width: 300px; padding: 5px 20px; text-align: left; font-weight: 100; color: #fff; }
body#settings > div#content > div#accounts a.button.has_email b { padding-right: 10px; color: #FFF; }
body#settings > div#content p.line { min-height: 18px; padding: 12px 0; max-width: 570px; margin:0 auto; position: relative;padding-bottom: 0;margin-bottom: 0; opacity: .5}
body#settings > div#content div.col { width: 280px; display:inline-block; }
body#settings > div#content p { margin: 21px 0; }
body#settings > div#content input[type=password], body#settings > div#content input[type=text] { padding: 0px; box-sizing: border-box;
  width: 360px!important; height:45px !important; border: 1px solid rgba(0,0,0,0.25); padding-left:8px; text-indent: 5px; margin-bottom: 5px; }
body#settings > div#content .separator {max-width: 550px; margin:10px auto; margin-bottom: 20px; background: rgba(0,0,0,.125); height: 1px; }
body#settings > div.profile-row { position: fixed; top:10px; right:20px;}
body#settings > div.profile-row .profile-img { border-radius: 120px; width: 48px; height: 48px; border: 1px solid #f3f3f3; vertical-align: middle; }
body#settings > div.profile-row .ion-person::before { margin-top: 4px; }
body#settings > div#content .ion-ios-arrow-left { position: absolute; left: 20px; top:22px; font-size: 30px; color: #999; cursor: pointer; -webkit-animation: fadeInRight 1s; animation: fadeInRight 1s ;}
body#settings > div.profile-row > .email-address { margin-right: 10px; font-size: 15px;}
body#settings > div.profile-row > span > i { font-size: 200%; display: inline-block; margin-left: 3px; position: relative; top: 5px; width: 35px; height: 35px; border: 1px solid #ccc; border-radius: 120px; color: #ccc;}

body#settings .action_show_help { -webkit-animation: fadeInDown 3s; font-weight: 600; color: #337ab7; text-decoration: none; font-size: 13px; position: absolute; top: 50px;
    margin-left: 245px; }
body#settings > .action_show_help:hover { text-decoration: underline; }
body#settings > div#content.setup [id^="step_"] { animation: fadeIn .7s;}
body#settings > div#content.setup h1 {-webkit-animation: fadeIn .7s;}
body#settings > div#content.setup div#step_0_found_key { display: none; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_1_easy_or_manual { display: none; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_1_easy_or_manual .circle-i { width: 90px; height: 90px; margin:0 auto; margin-bottom: 35px; border-radius: 120px;  -webkit-animation: fadeInUp .5s; animation: fadeInUp .5s;}
body#settings > div#content.setup div#step_1_easy_or_manual .circle-i i { font-size: 73px; padding-top: 19px; display: inline-block; color: #31A217;}
body#settings > div#content.setup div#step_1_easy_or_manual .circle-i i.manual { color: #B7B7B7; }


body#settings > div#content.setup div#step_2_easy_generating { display: none; text-align: center; margin-top: 100px; background: white; text-align: center; font-size: 16px; font-weight: normal;
  color: #666; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_2_easy_generating i { font-size: 490px !important; position: absolute; color: #eee; top: 59px; left: -163px; }
body#settings > div#content.setup div.manual { display: none; }
body#settings > div#content.setup div.alignleft { width: 600px; text-align: left; display: inline-block; }
body#settings > div#content.setup div.manual textarea { width: 530px; height: 300px; font-size: 12px; text-align: left; margin-top:-13px; padding: 8px; border: 1px solid rgba(0,0,0, .25); }
body#settings > div#content.setup div.manual div.line_container { width: 534px; display: block; position: relative; text-align: left; margin: 0px auto;}
body#settings > div#content.setup div.manual a.back i { color:  rgba(0, 0, 0, 0.5); font-size: 30px; position: absolute; top:5px; left:10px;}
body#settings > div#content.setup div.manual input[type=checkbox] { margin: 0 6px; margin-right: 0px; -webkit-transform: scale(1.6); transform: scale(1.6); position: relative; top: 2px; }
body#settings > div#content.setup div.action_save_private { margin-top: 20px; font-size: 15px;}
body#settings > div#content.setup div.action_create_private { margin-top: 20px; font-size: 15px;}
body#settings > div#content.setup div.manual div#btn_save_private { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none; background-color: #d14836; border: 1px solid transparent; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; white-space: nowrap; min-width: 56px; line-height: 27px; outline: 0; vertical-align: middle; margin-top: -9px; background-color: #088447 !important; background-image: -webkit-linear-gradient(top,#0F8C4F,#088447); padding: 4px 35px; margin-left: 5px; }
body#settings > div#content.setup div.manual div#btn_save_private { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none; background-color: #d14836; border: 1px solid transparent; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; white-space: nowrap; min-width: 56px; line-height: 27px; outline: 0; vertical-align: middle; margin-top: -9px; background-color: #088447 !important; background-image: -webkit-linear-gradient(top,#0F8C4F,#088447); padding: 4px 35px; margin-left: 5px; }
body#settings > div#content.setup div.manual h2 { display: inline-block; margin:0; margin-top: -18px; margin-bottom: 26px;}
body#settings > div#content.setup div.manual #addresses { color: #888; }
body#settings > div#content.setup div#step_2_recovery { display: none; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_2_recovery div#error_text_container { display: none; }
body#settings > div#content.setup div#step_2_recovery div#error_text {  line-height: 1.5; color: #d14836; -webkit-animation: fadeInDown .7s; animation: fadeInDown .7s;   }
body#settings > div#content.setup .squaredFour { width: 20px; position: relative; margin: 5px auto; position: absolute; left:32px; display: inline-block; }
body#settings > div#content.setup .squaredFour label { width: 20px; height: 20px; cursor: pointer; position: absolute; top: 0; left: 0; background: #fcfff4; background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); border-radius: 4px; box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);}
body#settings > div#content.setup .squaredFour label:after { content: ''; width: 9px; height: 5px; position: absolute; top: 4px; left: 4px; border: 3px solid #333; border-top: none; border-right: none; background: transparent; opacity: 0;-webkit-transform: rotate(-45deg); transform: rotate(-45deg);  }
body#settings > div#content.setup .squaredFour label:hover::after {  opacity: 0.5;}
body#settings > div#content.setup .squaredFour input[type=checkbox] {visibility: hidden;}
body#settings > div#content.setup .squaredFour input[type=checkbox]:checked + label:after {opacity: 1;}
body#settings > div#content.setup .labelCopy { margin-top: 7px; position: absolute; left: 30px; right: 0; text-align: left; text-indent: 45px; z-index: -10;}
body#settings > div#content.setup label.checkboxSquaredOne { padding-left: 0!important; }

body#settings > div#content.setup div#step_3_back { display: none; }
body#settings > div#content.setup div#step_3_backup .second { display: none; }
body#settings > div#content.setup div#step_3_test_failed { display: none; }
body#settings > div#content.setup div#step_4_done { display: none; }
body#settings > div#content.setup div#loading { width: 100%; margin: 10px auto; padding-left: 0; padding-right: 0; }

body#settings > div#content.backup div#step_0_enter { display: none; }
body#settings > div#content.backup div#step_3_done { display: none; }
body#settings > div#content.backup div#step_1_password { display: none; }
body#settings > div#content.backup div#step_2_confirm { display: none; }
body#settings > div#content.backup div#step_3_manual { display: none; }
body#settings > div#content.backup div#step_3_manual table.backup_options tr.details td { padding-top: 20px; }
body#settings > div#content.backup div#step_3_manual table.backup_options tr.text td { padding-bottom: 20px; }
body#settings > div#content.backup div#step_3_manual table.backup_options label { text-transform: uppercase; font-weight: bold; position: relative; bottom: 2px;}
body#settings .password_feedback { display: none; }
body#settings > div#content.setup div.manual .password_feedback { display: none; position: absolute; left:0; right:0; margin-top: 57px;
 -webkit-animation: fadeIn .7s; animation: fadeIn .7s; }
body#settings > div#content.backup .password_result, body#settings > div#content.setup div.manual .password_result { margin-top: 7px; text-transform: uppercase; font-weight: bold; }
body#settings div.password_bar { width: 360px; border: none; display: inline-block; border: none; margin-bottom: 14px; position: relative; left: -2px;}
body#settings div.password_bar > div { width: 0; height: 3px; }
body#settings #password, body#settings #password2, body#settings .input_password, body#settings .input_password2 {
  width: 300px !important; margin-bottom: 0px !important; }

body#settings > div#content h2 { font-size: 22px; font-weight: 100; color: #353535; margin-top:10px; padding-bottom: 0; margin-bottom: 0; font-family: 'Open Sans', sans-serif; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.help #input_text { width: 80%; height: 200px; font-weight: 400; padding-top: 8px; font-size: 16px; border: 2px solid #dadada; text-indent: 7px; font-family: 'Open Sans', sans-serif; }
body#settings > div#content.help #input_subject { width: 80%; }
body#settings > div#content.help .button.green { display: inline-block; position: absolute;right:57px; padding: 10px 60px;}
body#settings > div#content.help .separator { width: 60%;}

body#settings > div#content.pubkeys div.fix_container { display: none; }
body#settings > div#content.pubkeys table#emails { margin: 50px auto; color: #666; min-width: 500px; }
body#settings > div#content.pubkeys table#emails tr { height: 32px; }
body#settings > div#content.pubkeys table#emails td { height: 32px; vertical-align: middle; text-align: left; padding: 4px 15px; border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }

body#settings > div#content.pubkeys #edit_contact textarea.input_pubkey { width: 500px; height: 420px; font-size: 12px; padding: 8px; }
body#settings > div#content > div#changelog { width: 550px; margin: 0 auto; text-align: left; font-size: 16px; padding-bottom: 80px; }
body#settings > div#content > div#changelog b { display: inline-block; margin-top: 20px; }
body#settings > div#content > pre#key_container { padding-bottom: 80px;}

body#settings > div#footer { width: 99%; position: fixed; bottom: 0; padding: 20px 0; margin: 0 auto; text-align: center; font-size: 18px; color: #666; background: white;}
body#settings > div#footer > div.left { position: relative; float: left; margin-left: 40px; }
body#settings > div#footer > div.right { position: relative; float: right; margin-right: 40px; }
body#settings > div#footer > div.right > img { margin-top: 10px;}
body#settings > div#footer > div.feedback { padding-top: 10px; }
body#settings > div#footer > div.feedback i { padding-right: 40px; }
body#settings > div#footer > div.feedback b { padding-left: 40px; }
body#settings > div#footer a { color: #666; display: inline-block; padding-top: 12px; }

body#settings > div#content.dialog { width: 600px; padding: 40px 20px; background: white; z-index: 2; margin-top: 0px; }
body#settings > div#content.dialog h1 { max-width: 500px; margin:0 auto; font-size: 28px!important;}
body#settings > div#content.dialog.passphrase input.passphrase { margin-bottom: 30px; }
body#settings > div#content.dialog.passphrase .button.long {width: 120px;}
body#settings > div#content.dialog.add_pubkey select.email { font-size: 16px; padding: 6px; background-color: white; width: 516px; }
body#settings > div#content.dialog.add_pubkey select.copy_from_email { font-size: 16px; padding: 6px; background-color: white; width: 260px; margin: 0 16px; }
body#settings > div#content.dialog.add_pubkey textarea.pubkey { width: 500px; height: 340px; font-size: 10px; padding: 8px; }
body#settings > div#content.dialog.add_pubkey .button { width: 120px; margin-left: 13px; margin-right: 14px; }
body#settings > div#content.dialog.add_pubkey.inside_compose .action_settings { display: none; }
body#settings > div#content.dialog.add_pubkey.inside_compose .line.copy_from { display: none; }
body#settings > div#content.dialog.add_pubkey.inside_compose { padding: 0; margin-bottom: 0px; width: 500px; }
body#settings > div#content.dialog.add_pubkey.inside_compose select.email { width: 480px; }
body#settings > div#content.dialog.add_pubkey.inside_compose textarea.pubkey { width: 462px; height: 250px; }
body#settings > div#content.dialog.add_pubkey.inside_compose separator { display: none; }

body#settings > div#content.storage { background-color: #eaeaea; margin-top: 0px; margin-bottom: 0px; padding-top: 30px; padding-bottom: 100px;
  min-height: 100%; height: auto !important;  height: 100%; margin: 0 auto;}
body#settings > div#content.storage .emails a { padding-right: 20px; }
body#settings > div#content.storage .pre { margin: 0 auto; padding: 20px; border: 1px solid #cacaca; width: 70%; background-color: white; }

body { font-family: arial,sans-serif; font-size: 12.8px; padding:0px; margin: 0px; background-color: #FFF; word-wrap: break-word; }
body#reply_message { overflow: hidden; }
html {  padding:0px; margin: 0px; }
table, tbody, tr, td { border-collapse: collapse; font-size: inherit; border: none; border-image-width: 0px;
  -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; vertical-align: top; }

body.pgp_secure, div.replied_body.pgp_secure { border: 1px solid #f0f0f0; border-left: 4px solid #31A217; padding-left:10px; min-height: 25px;
  background-image: url(/img/lock-seamless-bg-alpha.png); padding-top: 6px; padding-bottom: 6px; }
body.pgp_neutral { border:none; border-left: 4px solid #989898; padding-left:10px; min-height: 25px; }
body.pgp_insecure { border:none; border-left: 4px solid #d14836; padding-left:10px; min-height: 25px; }
body > #pgp_block { height: auto; }
body > #pgp_block .input_email { padding: 9px; position: relative; top: -2px; width: 320px; }
body > #pgp_block div.error { margin-bottom: 30px; margin-left: 12px; }
body > #pgp_block div.raw_pgp_block { margin: 12px; color: #444; font-size: 10px; font-family: monospace;}
body > #pgp_block input#answer { padding: 8px 8px; width: 232px; }
body > #pgp_block #attachments { margin-top: 20px; }
body > #pgp_block #attachments .attachment { background: #f3f3f3; border: 1px solid #ccc; margin: 5px 0; cursor: pointer; padding: 12px; }
body > #pgp_block > .block_pubkey_full { display: none; }
body > #pgp_block > .block_pubkey_outgoing { display: none; opacity: 0.5; }
body > #pgp_block > .block_pubkey_outgoing:hover { opacity: 1; }
body > #pgp_signature { text-align: right; position: relative; top: -20px; right: 20px; opacity: 0.5; }
body > #pgp_signature > .cursive { font-family: signature; font-size: 24px; text-transform: capitalize; font-weight: bold; }
body > #pgp_signature > .result { font-size: 10px; font-family: monospace; width: 200px; float: right; }
body > #pgp_signature.neutral, body > #pgp_signature.bad, body > #pgp_signature:hover { opacity: 1; }
body > #pgp_signature.neutral > .cursive > span { border-bottom: 1px dotted #B7B7B7; }
body > #pgp_signature.bad > .cursive > span { border-bottom: 1px dotted #A44; }
body > #pgp_signature.good > .cursive > span { border-bottom: 1px dotted #088447; }

body > #pgp_block.pgp_pubkey { padding-top: 7px; }
body > #pgp_block.pgp_pubkey .line { margin: 0; }
body > #pgp_block.pgp_pubkey pre.pubkey { display: none; }

table#compose { height: 100%; border-spacing: 0px; border-collapse: collapse; }
table#compose th { width: 538px; height: 36px; text-align: left; margin: 0px; border: 1px solid #31A217; background-color: #31A217; }
table#compose td.input { height: 42px; vertical-align: middle; }
table#compose td#input_addresses_container { vertical-align: middle; }
table#compose td#input_addresses_container > div { width: 100%; overflow: hidden; cursor: text; }
table#compose td#input_addresses_container > div input#input_to { vertical-align: middle; height: 25px; margin: 1px 0;}
table#compose td#input_addresses_container > div .recipients span { margin-top: 2px; margin-left: 5px; display: inline-block; border-radius: 6px; position: relative; -webkit-transition: .25s; transition: .25s;}
table#compose td#input_addresses_container > div .recipients { height: auto; position: relative;}
table#compose td#input_addresses_container > div .recipients span.wrong { padding: 5px 10px; background: #A44; color: white; }
table#compose td#input_addresses_container > div .recipients span.has_pgp { padding: 5px 10px 5px 23px; background: #31A217; color: white; }
table#compose td#input_addresses_container > div .recipients span.attested { padding: 5px 10px 5px 23px; background: #31A217; color: white; }
table#compose td#input_addresses_container > div .recipients span.expired { padding: 5px 10px 5px 23px; background: #31A217; color: black; }
table#compose td#input_addresses_container > div .recipients span.expired i.fa-clock-o { position: relative; left: -10px; font-size: 15px; }
table#compose td#input_addresses_container > div .recipients span.no_pgp { padding: 5px 10px 5px 23px; background: #989898; color: white; }
table#compose td#input_addresses_container > div .recipients span.failed { padding: 4px 9px 4px 10px; border: 1px dashed #A44; }
table#compose td#input_addresses_container > div .recipients span i { padding-left: 4px; position: relative; top: 1px; right:-2px; opacity: 0.85;
  cursor: pointer; color: black; font-size: 90%; }
table#compose td#input_addresses_container > div .recipients span.wrong i  { color: white!important;}
table#compose td#input_addresses_container > div .recipients span i.ion-locked {position: absolute; left: 5px; top:8px; color: white; opacity: 1; }
table#compose td#input_addresses_container > div .recipients span.has_pgp i.ion-locked {color: #cacaca; }
table#compose td#input_addresses_container > div .recipients span i.ion-ios-locked {position: absolute; left:4px; top:4px; font-size: 15px; color: white; opacity: 1;}
table#compose th h1 { display: inline-block; margin: none; padding: none; font-size: 13.8px; font-weight: normal; color: #FFF; text-align: left; margin-left: 10px;}
table#compose th span.close_new_message { display: inline-block; position: absolute; right: 0px; margin-right: 6px; margin-top: -3px; color: white;
  font-weight: bold; opacity: .6; height: 16px; width: 16px; text-align: center; padding: 5px; }
table#compose th span.close_new_message:hover { cursor: pointer; opacity: 1; }
table#compose td { border: 1px solid #cfcfcf; border-top: none;  margin: 0px;}
table#compose td input { border: none;  height: 100%; width:100%; margin: 0px; padding: 6px; padding-left: 9px; background: none; outline: none;}
table#compose td.input.show_send_from { height: 84px; }
table#compose td.input.show_send_from input#input_to { height: 50%; }
table#compose td.input.show_send_from select#input_from { height: 50%; border: none; background: none; padding: 6px; padding-left: 6px; margin-top: 10px; width: 98%; outline: none; }
table#compose tr.bottom { background-color: #f5f5f5; }
table#compose td.bottom { padding: 0px; height: 42px; padding-left:9px; border-top: 1px solid #cfcfcf; position: relative;}
table#compose td.bottom div#send_btn { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none;
  border: 1px solid transparent; position: relative; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center;
  white-space: nowrap; margin-right: 16px; min-width: 56px; height: 27px; line-height: 27px; outline: 0; padding: 5px 25px; margin: 6px 2px;
  vertical-align: middle; -webkit-transition: .5s!important; transition: .5s!important; top: -2px;}
table#compose .close_new_message i.ion-android-close { font-size: 27px; top: 10px!important; color: white; margin-top: -5px; }
table#compose td.bottom div#send_btn_note { display: inline-block; font-size: 12.8px; padding-left: 5px; opacity: 0.5; }
table#compose td.text div#input_text { border: none; padding-top:8px; padding-left:8px; outline: none; border: none !important; -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; box-shadow: none !important; height:100%; word-wrap: break-word; max-width: 525px; background-image: url(/img/lock-seamless-bg-alpha.png);
  overflow-y: auto; padding-bottom: 16px; }
#reply_message table#compose td.text div#input_text { overflow-y: visible; }
table#compose td.text { border-bottom: none; position: relative;}
table#compose .fa-close { font-size: 20px; margin-top: -1px; }
table#compose #send_btn i { font-size: 20px; }
table#compose #send_btn .fa-lock, #send_btn  .fa-unlock { position: relative; left: -3px; top: 3px; }
table#compose #error_contaner_new_message {background: #f3f3f3; position: absolute;bottom:0; left:0; right:0; padding: 10px 0; z-index: 10; -webkit- animation: fadeInUp .7s; animation: fadeInUp .7s; text-indent: 10px; color: #d14836; border: 1px solid #d14836;}
table#compose #error_contaner_new_message #error_text_new_message { display: inline-block; text-indent: 15px; color: #d14836; height: auto; position: absolute; margin-top: 7px;}
table#compose #error_contaner_new_message .ion-android-alert { font-size: 30px; }

.spinner svg { display: none; }
.spinner .active svg { display: block; position: absolute; top:0; right: 0; left:0; bottom:0; display: block!important; opacity: 1!important; }

div#contacts { display: none; position: absolute; background: white; top: 74px; border: 1px solid rgba(0,0,0,.2); left: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 6px 0; z-index: 1; }
body#reply_message div#contacts { top: 39px; }
div#contacts ul { padding: 0; margin: 0; min-width: 320px; padding: 0; margin: 0; min-width: 320px; }
div#contacts ul li { padding: 13px; height: 16px; }
div#contacts ul li i { padding-left: 6px; padding-right: 12px; color: #31A217; }
div#contacts ul li:first-child { background: #eee; }
div#contacts ul li.auth_contacts { background: #fff !important; height: 24px; }
div#contacts:hover ul li:first-child { background: none; }
div#contacts:hover ul li:first-child:hover { background: #eee; }
div#contacts:hover ul li:hover { background: #eee; }
div#contacts .button { padding: 4px 20px; }
div#contacts .button .fa-search { color: #fff; }

table#compose .bottom .icon { padding: 3px 4px; display: inline-block; border: 1px solid #f5f5f5; border-radius: 2px; opacity: 0.35; top: 12px; left: 12px;}
table#compose .bottom .icon:hover { border-color: #dadada; opacity: 1; }
table#compose .bottom .icon:active { border-color: #4d90fe; }
table#compose .bottom .icon div { height: 21px; width: 21px; vertical-align: middle; padding: 0; display: inline-block; margin-top: 4px }
table#compose .bottom .icon.attach div {  background: no-repeat url(/img/gmail-compose-icons.png) 0 -709px;  overflow: inherit !important; }
table#compose .bottom .icon.standard { position: relative; top: 3px; }
table#compose .bottom .icon.standard i { font-size: 24px; font-size: 20px; display: inline-block; padding: 3px 5px; }
table#compose .bottom .icon.pubkey { background-image: url(/img/pubkey-icon-16-16-standard.png); background-repeat: no-repeat;
  background-position: center; width: 16px; height: 16px; position: absolute; right: 50px; left: initial; top: 13px; padding: 7px 6px; }
table#compose .bottom .icon.pubkey.active { background-image: url('/img/pubkey-icon-16-16-active.png'); opacity: 1;}
table#compose .bottom .icon.ion-help-circled { position: absolute; right: 14px; left: initial; font-size: 19px; top: 14px; padding: 6px; }


table#compose #fineuploader { position: absolute; bottom: 56px; right: 1px; }
table#compose #fineuploader .qq-uploader-selector { overflow: hidden; }
table#compose #fineuploader .qq-total-progress-bar-container { display: none; height: 0; border: 0; visibility: hidden; position: absolute; }
table#compose #fineuploader .qq-upload-list {overflow-x: hidden; }
table#compose #fineuploader .qq-upload-list::-webkit-scrollbar {  width: 0 !important;}
table#compose #fineuploader .qq-upload-list li { border: none; background: #fff; opacity: 0.75; margin-left: 12px;}
table#compose #fineuploader .qq-upload-list [class^="qq-file-id"] { background: #f3f3f3; border: 1px solid #ccc; margin: 5px 0; position: relative;
  margin-left: 11px; margin-right: 7px;}
table#compose #fineuploader .qq-upload-cancel  {background: transparent; border:0; box-shadow: none; }
table#compose #fineuploader .ion-android-close {font-size: 22px; position: absolute; top:7px; bottom:0;}
table#compose tr#missing_pubkey_container { display: none; margin: 15px 0; -webkit-animation: fadeInUp .7s; animation: fadeInUp .7s;}
table#compose tr#missing_pubkey_container td { text-align: center; height: 109px; font-size: 15px; line-height: 1.6;}

table#compose tr#missing_pubkey_container .use_question {width: 43.5%; display: inline; position: relative;}
table#compose tr#missing_pubkey_container .add_pubkey {width: 44%; display: inline; position: relative;}
table#compose tr#missing_pubkey_container .use_question .ion-help-circled { font-size: 45px; color: #31A217; position: absolute; left:16px; top:11px; z-index: 20;}
table#compose tr#missing_pubkey_container .add_pubkey { border-left:2px solid #ccc;}
table#compose tr#missing_pubkey_container .add_pubkey .ion-key {position: absolute;left:20px; font-size:45px;  -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg);  transform: rotate(180deg); font-size: 30px; right:0; left:0; margin:0 auto; text-align: center; top: 5px; color: #f3f3f3; }
table#compose tr#missing_pubkey_container .add_pubkey span.circle {position: absolute; left:20px; background: #31A217; height: 25px; width: 40px; border-radius: 120px; padding-top:15px; top:12px;}
table#compose tr#missing_pubkey_container .add_pubkey span { position: absolute; width: 140px; font-size: 17px; text-align: left; left:75px; top:11px; bottom:0; line-height: 1.3; color: gray;}
table#compose tr#missing_pubkey_container .add_pubkey span.small-copy {font-size:13px; left:0; margin-top: 12px; left:0; text-transform:none; }

table#compose tr#missing_pubkey_container .use_question .challenge-question-copy { position: absolute; width: 140px; font-size: 17px; text-align: left; left:67px; top:12px; line-height: 1.3; color: gray;}

table#compose tr#missing_pubkey_container div.or-copy { position: absolute; width: 20px; background: #f3f3f3; height:20px; padding-bottom: 5px;
  left:-6px; right:0; margin:0 auto; text-align: center; top:60px; z-index: 0; }
table#compose tr#missing_pubkey_container div.missing_pubkey_container_sencence { padding: 10px 0px; }

table#compose tr#missing_pubkey_container div.choice-row {clear: both; position: relative;}
table#compose tr#missing_pubkey_container div.choice-row .button {border-radius: 0;}
table#compose tr#missing_pubkey_container div.choice-row .button:hover { background: #ddd;}
table#compose tr#missing_pubkey_container div.choice-row .use_question { width: 50%;background: #f3f3f3; height: 50px; color: #353535; border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; display: inline; position: relative; position: absolute; left:0; padding: 10px 0;}
table#compose tr#missing_pubkey_container div.choice-row .add_pubkey { width: 50%; background: #f3f3f3; height: 50px; color: #353535; border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; display: inline; position: absolute; right:0; padding: 10px 0;}

table#compose tr#challenge_question_container { display: none; }
table#compose tr#challenge_question_container td { height: 84px; padding: 12px; -webkit-animation: fadeInUp 1s; animation: fadeInUp 1s;}
table#compose tr#challenge_question_container td ::-webkit-input-placeholder { color: #d14836; }
table#compose tr#challenge_question_container td input { padding-left: 3px; padding-right: 3px; border-bottom: 1px solid #cacaca; font-family: 'Open Sans', Arial;
  color: black; }
table#compose tr#challenge_question_container td input#input_question { width: 300px; }
table#compose tr#challenge_question_container td input#input_answer { width: 150px; margin-left: 10px; margin-right: 10px; color: #d14836; }
table#compose tr#challenge_question_container td p { padding-left: 3px; }
table#compose tr#challenge_question_container .question-row { margin:0 auto; position: relative; padding-bottom: 20px; }
table#compose tr#challenge_question_container .question-row i.ion-ios-locked {display: inline-block; height: 50px; font-size: 40px; color: #989898; position: absolute; top:8px; left:0; bottom:0; right:0;}
table#compose tr#challenge_question_container .question-row span.circle { border: 5px solid #989898; display: inline-block; border-radius: 120px; text-align: center; width: 60px; height: 60px; position: relative; margin-left: 20px; margin-right: -20px;}
table#compose tr#challenge_question_container .question-row  p { display: inline-block; line-height: 1.8; margin-left: 25px; margin-top: 4px; }
table#compose tr#challenge_question_container .question-row .question-copy {width: 79%; display: inline-block; position: absolute; top:-2px; margin-left: 10px;}
span.start, span.end { font-weight: 900; position: absolute; margin-top: 5px; font-size: 16px; font-family: 'Open Sans', Arial;}
span.end { margin-left: -10px; }

body#new_message.popup { width: 474px; height: 600px; }
body#new_message.popup table#compose { width: 490px; border: none; }
body#new_message.popup table#compose tr td { border-left: none; border-right: none; }

div#reply_message_table_container { display: none; }
div#reply_message_prompt { border: 1px solid #d9d9d9 !important; border-top: 1px solid #c0c0c0 !important; min-height: 72px; padding: 8px 0 0 8px; }
div#reply_message_prompt #reply_click_area { width: 95%; height: 50px; margin-top: 3px; position: absolute; }
a#a_reply, a#a_reply_all, a#a_forward {}
p#reply_links { margin: 0px; }
div#reply_message_table_container table#compose { border-top: 1px solid #cfcfcf; width: 100%; }
div#reply_message_successful_container { width: 100%; display: none; }
div#reply_message_successful_container > table { width: 100%; margin: 0px; padding: 0px; }
div#reply_message_successful_container > table td { vertical-align: top; }
div#reply_message_successful_container > table tr.first { margin-bottom: 20px; }
div#reply_message_successful_container > table td.right { text-align: right; }
div#reply_message_successful_container > table div.replied_from { font-weight: bold; margin-bottom: 4px; }
div#reply_message_successful_container > table div.replied_to { color: #777; margin-bottom: 10px; }
div#reply_message_successful_container > table div.replied_time { }
div#reply_message_successful_container > table div.replied_time { }
 #reply_message_table_container #compose tr#missing_pubkey_container div.or-copy { left:-2px!important; }

div#reply_message_successful_container > #attachments { border-top: 1px dotted #CACACA; padding-top: 16px; margin-top: 22px; display: none; }
div#reply_message_successful_container > #attachments > span.pgp_attachment { margin-right: 16px; margin-bottom: 16px; display: inline-block; }
div#reply_message_successful_container > #attachments > span.pgp_attachment > iframe { height: 120px; width: 180px; margin: 0; padding: 0; border: none; overflow: hidden; }

table#compose #error_container_reply_message {background: #f3f3f3; position: absolute;bottom:0; left:0; right:0; padding: 10px 0; z-index: 10; -webkit- animation: fadeInUp .7s; animation: fadeInUp .7s; text-indent: 10px; color: #d14836; border: 1px solid #d14836;}
table#compose #error_container_reply_message #error_text_reply_message { display: inline-block; text-indent: 15px; color:#d14836; height: auto; position: absolute; margin-top: 7px;}
table#compose #error_container_reply_message .ion-android-alert { font-size: 30px; }

.loading_copy { -webkit-animation: fadeIn 1s; animation: fadeIn 1s; text-align: center; font-size: 19px; color: #afafaf; margin-top: 4px;}
.loader { text-align: center; padding-left: 0; margin-left: 0; -webkit-animation: fadeInUp 1s;  animation: fadeInUp 1s;}
.inline_loader {  display: inline; width: 120px; margin: 0 auto!important; padding: 0!important; position: relative;}
.inline_loader svg { display: inline; position: absolute; left:0; right: 0; top: -2px;}

body.attachment { border: 1px solid #dadada; border-radius: 2px; text-align: center; font-size: 11px; background-image: url(/img/attachment-corner.png);
  background-repeat: no-repeat; background-position: bottom right; z-index: 0; }
body.attachment:hover { border-color: #eaeaea; }
body.attachment #download { position: absolute; width: 100px;  z-index: 1; background-color: white; height: 80px; right:13px; opacity: 1; color: #444; visibility: hidden; }
body.attachment #download:hover, body.attachment:hover #download { visibility: visible; cursor: pointer; }
body.attachment #download i { font-size: 39px; padding-bottom: 0px; margin-top: 22px; opacity: .4;}
body.attachment #download .download-prompt { margin-top:1px; font-size: 14px; }
body.attachment #header { margin-top:10px; padding-bottom: 0px; font-weight: 400; font-size: 14px; width: 100px; text-align: left; position: absolute; right: 5px; line-height: 1.5; top:15px; overflow: hidden;}
body.attachment #type { padding: 10px 0; color: #999; }
body.attachment #name { padding: 7px 12px; background: #f3f3f3; position: absolute; bottom: 0; left: 0; right: 0; border: 1px solid #dadada; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
body.attachment .file-format-holder { display: inline-block; border-radius: 120px; position: absolute; left: 7px; margin-top: 10px; margin-bottom: 5px;}
body.attachment .file-format-holder img#file-format { width: 45px; height: auto; margin-top: 12px; opacity: .2; margin-left: 10px;}
