
/* buttons */
div.T-I.T-I-KE { cursor: pointer;}
div.T-I.T-I-KE img { margin-top: 7px;}
div.T-I.T-I-KE .fa-lock { font-size: 16px; margin-top: 2px; }

div.new_message_button { width: 34px; padding-right: 0px; padding-left: 0px; min-width: 30px; position: absolute; top: 117px; left: 155px; z-index: 1;
  background: #228B22; color: white; font-size: 15px; -webkit-transition: .4s; transition: .4s; opacity: 1; cursor: pointer; }

div.reply_message_button { min-width: 30px; background: #228B22; color: white; font-size: 15px; -webkit-transition: .4s; transition: .4s; padding: 7px 8px 5px 8px;
  cursor: pointer; border-radius: 2px; }
div.reply_message_button i { margin-right: 12px; }

div.new_message_button:hover, div.reply_message_button:hover { background: #009900; color: #f3f3f3; opacity: 1; }

center.gmail_notifications { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 999; height: 1px; }
center.gmail_notifications div.gmail_notification { background-color: rgb(249, 237, 190); border: 1px solid rgb(240, 195, 109); border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px; color: rgb(34, 34, 34); font-family: arial, sans-serif; font-size: 12.8px; font-weight: bold; height: 16px;
  line-height: 16px; padding: 6px 10px; z-index: 999; margin-top: 50px; display:inline-block; }
center.gmail_notifications div.gmail_notification a { color: black; padding-left: 6px; padding-right: 2px; }
center.gmail_notifications div.gmail_notification a:hover { text-decoration: none; }


/* elements */
div.new_message { position: absolute; bottom: 0px; width: 541px; right: 30px; padding: 0px; z-index: 5; height: 605px; box-shadow: rgba(0,0,0,0.2) 0 2px 6px; }
div.new_message iframe { width: 100%; height: 605px; border:none; padding: 0px; margin: 0px; overflow: hidden;}

/* pgp decrypted message */
iframe.pgp_block { width: 100%; border:none; overflow: hidden; }

/* pgp reply box */
iframe.reply_message { height: 200px; width: 100%; border: none; }
div.remove_borders { border: none !important; padding:0px !important; margin:0px !important; }

span.pgp_attachment > iframe { height: 120px; width: 180px; margin: 0; padding: 0; border: none; overflow: hidden; }

/* setup dialog */
div#cryptup_dialog { position: absolute; top:0px; width: 100%; height: 100%; margin: 0px auto; z-index: 10; background-color:rgba(255, 255, 255, 0.85); }
div#cryptup_dialog iframe { position: absolute; width: 640px; height: 370px; top: 50%; left: 50%; margin-left: -300px; margin-top: -200px; border: none;
  box-shadow: 10px 10px 5px #888888; box-shadow: 0px 0px 25px #AAA; }
div#cryptup_dialog iframe.tall { height: 780px; margin-top: -390px; }

/* oauth dialog */
div#gmail_api_auth { position: absolute; top:0px; width: 100%; height: 100%; margin: 0px auto; z-index: 10; background-color:rgba(255, 255, 255, 0.85); }
div#gmail_api_auth iframe { position: absolute; width: 800px; height: 600px; top: 50%; left: 50%; margin-left: -400px; margin-top: -300px; border: none;
  box-shadow: 10px 10px 5px #888888; box-shadow: 0px 0px 25px #AAA; }
