/* Business Source License 1.0 © 2016 FlowCrypt Limited (tom@cryptup.org). Use limitations apply. This version will change to GPLv3 on 2020-01-01. See https://github.com/CryptUp/cryptup-browser/tree/master/src/LICENCE */

@font-face { font-family: 'signature'; src: url('/fonts/Tangerine_Regular.ttf'); }
@font-face { font-family: 'signature'; src: url('/fonts/Tangerine_Bold.ttf'); font-weight: bold; }

.button { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none; font-weight: 600; letter-spacing: 0.2px;
  border: 1px solid transparent; color: #fff; border-radius: 2px; font-size: 11px; text-align: center; white-space: nowrap; min-height: 27px;
  min-width: 56px; line-height: 27px; outline: 0; vertical-align: middle; margin-top: -7px; padding: 5px 15px; text-decoration: none; cursor: pointer; }
.button.long { width: 200px; }

a { color: #0A9FD3; }
a:focus { outline: none !important; }
.line.red, td.red, b.red, span.red { color: #d14836; }
.line.prange, td.orange, b.orange, span.orange { color: #d18826; }
.line.green, td.green, b.green, span.green { color: #31A217; }
.line.gray, td.gray, b.gray, span.gray { color: #B7B7B7; }
.hover_underline { text-decoration: none; }
.hover_underline:hover { text-decoration: underline; cursor: pointer; }
.green_label, .orange_label, .red_label, .gray_label { display: inline-block; min-width: 150px; padding: 0 5px 1px 5px; text-transform: uppercase; }
.green_label.short, .orange_label.short, .red_label.short, .gray_label.short { min-width: 0; }
.green_label { color: white; background-color: #31A217; }
.orange_label { color: white; background-color: #d18826; }
.red_label { color: white; background-color: #d14836; }
.gray_label { color: white; background-color: #B7B7B7; }
.button.red { background-color: #d14836; color: white; }
.button.green { background-color: #31A217; border:0 !important; color: white; }
.button.gray { background-color: #B7B7B7; background-image: -webkit-linear-gradient(top, #C5C5C5, #B7B7B7); color: white;}
.button.gray2 { background-color: #D9D9D9; background-image: -webkit-linear-gradient(top, #E9E9E9, #DFDFDF); color: #444;}
.button.small { padding: 0 7px; margin-top: 0; }
.button_secure.green { background:  #31A217; }
.toggle_show_hide_pass_phrase { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
  -ms-user-select: none; user-select: none; display: inline-block; position: absolute; width: 50px; text-align: center; padding-left: 4px;
  margin-left: -55px;  padding-top: 7px; cursor: pointer; opacity: 0.5; background: #dadada; height: 36px; line-height: 14px;
  border: 1px solid rgba(0,0,0,0.25); border-left: none; }
.toggle_show_hide_pass_phrase .eye-open,
.toggle_show_hide_pass_phrase .eye-closed { width: 19px; height: 15px;}

i.small_spinner { display: inline-block; width: 40px; height: 18px; text-align: center; position: relative; }
i.small_spinner img { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 26px; }
i.large_spinner { display: block; width: 75px; height: 75px; text-align: center; position: relative; }
i.large_spinner img { position: relative; width: 75px; height: 75px; }

.lightboxed { width: 700px; }
.lightboxed pre { padding-top: 0; margin-top: 0; }
.featherlight .featherlight-close-icon { background: none !important; border: none !important; }
.featherlight.new_message_featherlight .featherlight-content { background: none !important; }
.featherlight .featherlight-content > .line { color: white; text-align: center; font-weight: 200; letter-spacing: 0.25px;}
.good { color: #088447; }
.bad { color: #A44; }
.neutral { color: #B7B7B7; }

div.line { min-height: 18px; padding: 12px 0; max-width: 570px; margin:0 auto; position: relative; }
div.wide.line { max-width: 850px; }
div.line.left { text-align: left; }

body#settings { text-align: center; position: relative; font-family: 'Open Sans', sans-serif;}
body#settings > div#content {  margin-top: 70px; margin-bottom: 150px; position: relative;}
body#settings > div#content.page { margin-top: 70px !important; margin-bottom: 50px; }
body#settings > div#content.page h2 { font-size: 20px; font-weight: bold; color: #000; margin-top:50px; padding-bottom: 0; margin-bottom: 0; font-family: 'Open Sans', sans-serif; }
body#settings > div#content.page img.screen { border: 1px dotted #cacaca; }
body#settings > div#content h1 { font-size: 30px; font-weight: 100; color: #999; padding-bottom: 0; margin-bottom: 0; min-height: 40px; font-family: 'Open Sans', sans-serif; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.page h1 {font-size: 24px; font-weight: 200; }
body#settings > div#content a:hover { text-decoration: none; }
body#settings > div#content > div#accounts a.button.has_email { width: 300px; padding: 5px 20px; text-align: left; font-weight: 100; color: #fff; }
body#settings > div#content > div#accounts a.button.has_email b { padding-right: 10px; color: #FFF; }
body#settings > div#content p.line { min-height: 18px; padding: 12px 0; max-width: 570px; margin:0 auto; position: relative; padding-bottom: 0; opacity: .5}
body#settings > div#content div.col { width: 280px; display:inline-block; }
body#settings > div#content p { margin: 21px 0; }
body#settings > div#content input[type=password], body#settings > div#content input[type=text] { padding: 0; box-sizing: border-box;
  width: 360px!important; height:45px !important; border: 1px solid rgba(0,0,0,0.25); padding-left:8px; text-indent: 5px; margin-bottom: 5px; }
.toggled_passphrase  { padding-right: 62px !important; }
body#settings > div#content .separator {max-width: 550px; margin:10px auto; margin-bottom: 20px; background: rgba(0,0,0,.125); height: 1px; }
body#settings > div#content .start-arrow { position: absolute; width: 160px; right: 53px; animation: fadeInUp 1s;}
body#settings > div.profile-row { position: fixed; top:10px; right:20px;}
body#settings > div.profile-row .profile-img { border-radius: 120px; width: 30px; height: 30px; border: 1px solid #cccccc; vertical-align: middle; }
body#settings > div#content .chevron-left { position: absolute; left: 20px; top:43px; width: 35px; height: 20px; color: #999; cursor: pointer; -webkit-animation: fadeInRight 1s; opacity: .4;
  animation: fadeInRight 1s ;}
body#settings > div.profile-row > .email-address { margin-right: 10px; font-size: 15px;}
body#settings > div.profile-row > span > i { font-size: 200%; display: inline-block; margin-left: 3px; position: relative; top: 5px; width: 35px; height: 35px; border: 1px solid #ccc;
  border-radius: 120px; color: #ccc;}
body#settings .action_show_help { text-decoration: none; position: absolute; top: 41px; margin-left: 245px; opacity: .3;}
body#settings .action_show_help img { width: 28px; }
body#settings > .action_show_help:hover { text-decoration: underline; }
body#settings > div#content.setup [id^="step_"] { animation: fadeIn .7s;}
body#settings > div#content.setup h1 {-webkit-animation: fadeIn .7s;}
body#settings > div#content.setup div#step_0_found_key { display: none; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_1_easy_or_manual { display: none; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_1_easy_or_manual .circle-i { -webkit-animation: fadeInUp .5s; animation: fadeInUp .5s; margin-bottom: 35px; }
body#settings > div#content.setup div#step_1_easy_or_manual > .col { opacity: 0.7; }
body#settings > div#content.setup div#step_1_easy_or_manual > .col:hover { opacity: 1; }

body#settings .signin_button { width: 220px; height: 46px; padding: 13px; text-align: left; padding-left: 50px; user-focus: none; user-select: none;
  cursor: pointer; opacity: 0.8; color: #222; }
body#settings .signin_button:hover { opacity: 1; color: black; }
body#settings .signin_button.gmail { background-image: url(/img/guidelined/google-signin.png); }
body#settings .signin_button.gmail:active { background-image: url(/img/guidelined/google-signin-pressed.png); }
body#settings .signin_button.outlook { background-image: url(/img/guidelined/microsoft-signin.png); }
body#settings .signin_button.outlook:active { background-image: url(/img/guidelined/microsoft-signin-pressed.png); }

body#settings > div#content.setup div#step_2_easy_generating { display: none; text-align: center; margin-top: 100px; background: white;  font-size: 16px; font-weight: normal;
  color: #666; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_2_easy_generating i { font-size: 490px !important; position: absolute; color: #eee; top: 59px; left: -163px; }
body#settings > div#content.setup div.manual { display: none; }
body#settings > div#content.setup div.alignleft { width: 600px; text-align: left; display: inline-block; }
body#settings > div#content.setup div.manual textarea { width: 530px; height: 300px; font-size: 12px; text-align: left; margin-top:-13px; padding: 8px; border: 1px solid rgba(0,0,0, .25); }
body#settings > div#content.setup div.manual div.line_container { width: 534px; display: block; position: relative; text-align: left; margin: 0 auto;}
body#settings > div#content.setup div.manual a.back i { color:  rgba(0, 0, 0, 0.5); font-size: 30px; position: absolute; top:5px; left:10px;}
body#settings > div#content.setup div.manual input[type=checkbox] { margin: 0 6px; margin-right: 0; -webkit-transform: scale(1.6); transform: scale(1.6); position: relative; top: 2px; }
body#settings > div#content.setup div.action_save_private { margin-top: 20px; font-size: 15px;}
body#settings > div#content.setup div.action_create_private { margin-top: 20px; font-size: 15px;}
body#settings > div#content.setup div.manual div#btn_save_private { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none;
  border: 1px solid transparent; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; white-space: nowrap; min-width: 56px;
  line-height: 27px; outline: 0; vertical-align: middle; margin-top: -9px; padding: 4px 35px; margin-left: 5px; }
body#settings > div#content.setup div.manual h2 { display: inline-block; margin:0; margin-top: -18px; margin-bottom: 26px;}
body#settings > div#content.setup div.manual #addresses { color: #888; }
body#settings > div#content.setup div#step_2_recovery { display: none; -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.setup div#step_2_recovery div#error_text_container { display: none; }
body#settings > div#content.setup div#step_2_recovery div#error_text {  line-height: 1.5; color: #d14836; -webkit-animation: fadeInDown .7s; animation: fadeInDown .7s;   }
body#settings > div#content.setup .squaredFour { width: 20px; margin: 5px; display: inline-block; position: relative; left: 16px; }
body#settings > div#content.setup .squaredFour label { width: 20px; height: 20px; cursor: pointer; position: absolute; top: 0; left: 0; background: #fcfff4; background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); border-radius: 4px; box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);}
body#settings > div#content.setup .squaredFour label:after { content: ''; width: 9px; height: 5px; position: absolute; top: 4px; left: 4px; border: 3px solid #333; border-top: none; border-right: none; background: transparent; opacity: 0;-webkit-transform: rotate(-45deg); transform: rotate(-45deg);  }
body#settings > div#content.setup .squaredFour label:hover::after {  opacity: 0.5;}
body#settings > div#content.setup .squaredFour input[type=checkbox] {visibility: hidden;}
body#settings > div#content.setup .squaredFour input[type=checkbox]:checked + label:after {opacity: 1;}
body#settings > div#content.setup .labelCopy { margin-top: 7px; position: absolute; text-align: left; text-indent: 30px; z-index: -10;}
body#settings > div#content.setup label.checkboxSquaredOne { padding-left: 0!important; }

body#settings > div#content.setup div#step_3_back { display: none; }
body#settings > div#content.setup div#step_3_backup .second { display: none; }
body#settings > div#content.setup div#step_3_test_failed { display: none; }
body#settings > div#content.setup div#step_4_done { display: none; }
body#settings > div#content.setup div#step_4_more_to_recover { display: none; }
body#settings > div#content.setup div.loading { width: 100%; margin: 10px auto; padding-left: 0; padding-right: 0; }

body#settings > div#content.backup div#step_0_enter { display: none; }
body#settings > div#content.backup div#step_3_done { display: none; }
body#settings > div#content.backup div#step_1_password { display: none; }
body#settings > div#content.backup div#step_2_confirm { display: none; }
body#settings > div#content.backup div#step_3_manual { display: none; }
body#settings > div#content.backup div#step_3_manual table.backup_options tr.details td { padding-top: 20px; }
body#settings > div#content.backup div#step_3_manual table.backup_options tr.text td { padding-bottom: 20px; }
body#settings > div#content.backup div#step_3_manual table.backup_options label { text-transform: uppercase; font-weight: bold; position: relative; bottom: 2px;}
body#settings .password_feedback { display: none; }
body#settings > div#content.setup div.manual .password_feedback { display: none; position: absolute; left:0; right:0; margin-top: 57px;
 -webkit-animation: fadeIn .7s; animation: fadeIn .7s; }
body#settings > div#content.backup .password_result, body#settings > div#content.setup div.manual .password_result { margin-top: 7px; text-transform: uppercase; font-weight: bold; }
body#settings div.password_bar { width: 360px; border: none; display: inline-block; margin-bottom: 14px; position: relative; left: -2px;}
body#settings div.password_bar > div { width: 0; height: 3px; }
body#settings #password, body#settings #password2, body#settings .input_password, body#settings .input_password2 {
  width: 300px !important; margin-bottom: 0 !important; }

body#settings > div#content h2 { font-size: 22px; font-weight: 100; color: #353535; margin-top:10px; padding-bottom: 0; margin-bottom: 0; font-family: 'Open Sans', sans-serif;
  -webkit-animation: fadeIn .7s; animation: fadeIn .7s;}
body#settings > div#content.help #input_text { width: 80%; height: 200px; font-weight: 400; padding-top: 8px; font-size: 16px; border: 2px solid #dadada; text-indent: 7px;
  font-family: 'Open Sans', sans-serif; }
body#settings > div#content.help #input_subject { width: 80%; }
body#settings > div#content.help .button.green { display: inline-block; position: absolute;right:57px; padding: 10px 60px;}
body#settings > div#content.help .separator { width: 60%;}

body#settings > div#content.pubkeys div.fix_container { display: none; }
body#settings > div#content.pubkeys table#emails { margin: 50px auto; color: #666; min-width: 500px; }
body#settings > div#content.pubkeys table#emails tr { height: 32px; }
body#settings > div#content.pubkeys table#emails td { height: 32px; vertical-align: middle; text-align: left; padding: 4px 15px; border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }
body#settings > div#content.pubkeys textarea.input_pubkey { width: 600px; height: 420px; font-size: 12px; padding: 8px; }
body#settings > div#content.pubkeys iframe.pgp_block { width: 500px; height: 175px !important; margin-bottom: 20px; border: none; }
body#settings > div#content.pubkeys table#emails td .action_remove_alias { cursor: pointer; }

body#settings > div#content.footer { margin: 0; }
body#settings > div#content.footer .user_free, body#settings > div#content.footer .user_subscribed { display: none; }
body#settings > div#content.footer textarea { width: 450px; height: 70px; }

body#settings > div#content > div#changelog { width: 550px; margin: 0 auto; text-align: left; font-size: 16px; padding-bottom: 80px; }
body#settings > div#content > div#changelog b { display: inline-block; margin-top: 20px; }
body#settings > div#content > pre#key_container { padding-bottom: 80px;}

body#settings > div#footer { width: 99%; position: fixed; bottom: 0; padding: 20px 0; margin: 0 auto; text-align: center; font-size: 18px; color: #666; background: white;}
body#settings > div#footer > div.left { position: relative; float: left; margin-left: 40px; }
body#settings > div#footer > div.right { position: relative; float: right; margin-right: 40px; }
body#settings > div#footer > div.right > img { margin-top: 10px;}
body#settings > div#footer > div.feedback { padding-top: 10px; }
body#settings > div#footer > div.feedback i { padding-right: 40px; }
body#settings > div#footer > div.feedback b { padding-left: 40px; }
body#settings > div#footer a { color: #666; display: inline-block; padding-top: 12px; }

body#settings > div#content.dialog { width: 600px; padding: 40px 20px; background: white; z-index: 2; margin-top: 0; }
body#settings > div#content.dialog h1 { max-width: 500px; margin:0 auto; font-size: 28px!important;}
body#settings > div#content.dialog.passphrase input.passphrase { margin-bottom: 30px; }
body#settings > div#content.dialog.passphrase .button.long {width: 120px;}
body#settings > div#content.dialog.add_pubkey select.email { font-size: 16px; padding: 6px; background-color: white; width: 516px; }
body#settings > div#content.dialog.add_pubkey select.copy_from_email { font-size: 16px; padding: 6px; background-color: white; width: 260px; margin: 0 16px; }
body#settings > div#content.dialog.add_pubkey textarea.pubkey { width: 500px; height: 340px; font-size: 10px; padding: 8px; }
body#settings > div#content.dialog.add_pubkey .button { width: 120px; margin-left: 13px; margin-right: 14px; }
body#settings > div#content.dialog.add_pubkey.inside_compose .action_settings { display: none; }
body#settings > div#content.dialog.add_pubkey.inside_compose .line.copy_from { display: none; }
body#settings > div#content.dialog.add_pubkey.inside_compose { padding: 0; margin-bottom: 0; width: 500px; }
body#settings > div#content.dialog.add_pubkey.inside_compose select.email { width: 480px; }
body#settings > div#content.dialog.add_pubkey.inside_compose textarea.pubkey { width: 462px; height: 250px; }
body#settings > div#content.dialog.add_pubkey.inside_compose separator { display: none; }

body#settings > div#content.storage { padding-top: 30px; padding-bottom: 100px; min-height: 100%; height: 100%; margin: 0 auto; }
body#settings > div#content.storage .emails a { padding-right: 20px; }
body#settings > div#content.storage .pre { margin: 0 auto; padding: 20px; background-color: white; }

body#settings > div#content .list_table { display: none; }
body#settings > div#content .list_table table img { width: 15px; }
body#settings > div#content .list_table table { width: 100%; }
body#settings > div#content .list_table table tr th { padding-bottom: 10px; text-transform: uppercase; }
body#settings > div#content .list_table table tr th:first-child { text-align: left; padding-left: 20px; }
body#settings > div#content .list_table table tr td { padding-bottom: 2px; text-align: left; }
body#settings > div#content .list_table table tr td:first-child { padding-left: 20px; }
body#settings > div#content .list_table table tr:hover td { background-color: #f6f6f6; }

body#settings > div#content.subscribe .list_table table tr td:not(:first-child) { width: 110px; text-align: center; }
body#settings > div#content.subscribe .stripe_checkout { display: none; }
body#settings > div#content.subscribe .stripe_checkout iframe { width: 500px; border: none; }

body#settings > div#content.account .list_table.account_table { width: 500px; }
body#settings > div#content.account .list_table.account_table tr td { padding-right: 20px; }
body#settings > div#content.account .loading.line { width: 100px; }
body#settings > div#content.account .cancel.line { display: none; }
body#settings > div#content.account .level, body#settings > div#content.account .price, body#settings > div#content.account .method, body#settings > div#content.account .expire {
  text-transform: capitalize; }


body { font-family: arial,sans-serif; font-size: 12.8px; padding:0; margin: 0; background-color: #FFF; word-wrap: break-word; }
body#reply_message { overflow: hidden; }
html {  padding:0; margin: 0; }
table, tbody, tr, td { border-collapse: collapse; font-size: inherit; border: none; border-image-width: 0;
  -webkit-border-horizontal-spacing: 0; -webkit-border-vertical-spacing: 0; vertical-align: top; }

.pgp_secure { border: 1px solid #f0f0f0; border-left: 4px solid #31A217; padding-left:10px; min-height: 38px;
  background-image: url(/img/lock-seamless-bg-alpha.png); padding-top: 6px; padding-bottom: 6px; }
.pgp_neutral { border:none; border-left: 4px solid #989898; padding-left:10px; min-height: 25px; }
.pgp_insecure { border:none; border-left: 4px solid #d14836; padding-left:10px; min-height: 25px; }
#pgp_block { height: auto; }
#pgp_block .input_email { padding: 9px; position: relative; top: -2px; width: 270px; }
#pgp_block div.error { margin-bottom: 30px; margin-left: 12px; }
#pgp_block div.raw_pgp_block { margin: 12px; color: #444; font-size: 10px; font-family: monospace;}
#pgp_block input#answer { padding: 8px 8px; width: 232px; }
#pgp_block #attachments { margin-top: 8px; }
#pgp_block #attachments .attachment { background: #f8f8f8; border: 1px solid #ccc; margin-bottom: 8px; cursor: pointer; padding: 8px 8px; border-left: 4px solid #31A217;
  margin-right: 12px; width: fit-content; height: 15px; }
#pgp_block > .block_pubkey_full { display: none; }
#pgp_block > .block_pubkey_outgoing { display: none; opacity: 0.5; }
#pgp_block > .block_pubkey_outgoing:hover { opacity: 1; }
#pgp_block > .future_expiration { padding-right: 8px; text-align: right; font-family: monospace; font-size: 11px; opacity: 0.7; color: #31A217; font-weight: 500; }
#pgp_block > .future_expiration:hover { opacity: 1; }
#pgp_signature { text-align: right; position: relative; top: -20px; right: 20px; opacity: 0.5; }
#pgp_signature > .cursive { font-family: signature; font-size: 24px; text-transform: capitalize; font-weight: bold; }
#pgp_signature > .result { font-size: 10px; font-family: monospace; width: 200px; float: right; }
#pgp_signature.neutral, #pgp_signature.bad, #pgp_signature:hover { opacity: 1; }
#pgp_signature.neutral > .cursive > span { border-bottom: 1px dotted #B7B7B7; }
#pgp_signature.bad > .cursive > span { border-bottom: 1px dotted #A44; }
#pgp_signature.good > .cursive > span { border-bottom: 1px dotted #088447; }

#pgp_block.pgp_pubkey { padding-top: 7px; }
#pgp_block.pgp_pubkey .line { margin: 0; }
#pgp_block.pgp_pubkey pre.pubkey { display: none; }

table#compose { height: 100%; border-spacing: 0; border-collapse: collapse; }
table#compose th { width: 538px; height: 36px; text-align: left; margin: 0; border: 1px solid #31A217; background-color: #31A217; }
table#compose th h1 { display: inline-block; font-size: 13.8px; font-weight: normal; color: #FFF; text-align: left; margin-left: 10px;}
table#compose.sign th { background-color: #808080; border-color: #808080; }
table#compose td.input { height: 42px; vertical-align: middle; }
table#compose td#input_addresses_container { vertical-align: middle; }
table#compose td#input_addresses_container > div { width: 100%; overflow: hidden; cursor: text; }
table#compose td#input_addresses_container > div input#input_to { vertical-align: middle; height: 25px; margin: 1px 0;}
table#compose td#input_addresses_container > div .recipients span { margin-top: 2px; margin-left: 5px; display: inline-block; border-radius: 6px; position: relative;
  -webkit-transition: .25s; transition: .25s;}
table#compose td#input_addresses_container > div .recipients { height: auto; position: relative; }
table#compose td#input_addresses_container > div .recipients span { padding: 5px 15px 6px 15px; }
table#compose td#input_addresses_container > div .recipients span > img { width: 10px; height: 10px; opacity: 0.7; position: relative; right: 5px; top: 1px; }
table#compose td#input_addresses_container > div .recipients span > img.repeat-icon { right: -6px; top: 1px;}
table#compose td#input_addresses_container > div .recipients span i { padding-left: 4px; position: relative; top: 1px; right:-2px; opacity: 0.85;
  cursor: pointer; color: black; font-size: 90%; }
table#compose td#input_addresses_container > div .recipients span .close-icon { right: -7px; height: 9px; width: 9px; top:0; cursor: pointer; }
table#compose td#input_addresses_container > div .recipients span .close-icon:hover { opacity: 1; }
table#compose td#input_addresses_container > div .recipients span .close-icon.display_when_sign { display: none; }
table#compose td#input_addresses_container > div .recipients span.wrong { background: #A44; color: white;}
table#compose td#input_addresses_container > div .recipients span.wrong .close-icon { opacity: 1; }
table#compose td#input_addresses_container > div .recipients span.has_pgp { background: #31A217; color: white;}
table#compose td#input_addresses_container > div .recipients span.attested { background: #31A217; color: white;}
table#compose td#input_addresses_container > div .recipients span.attested img { opacity: 1; }
table#compose td#input_addresses_container > div .recipients span.expired { background: #31A217; color: black;}
table#compose td#input_addresses_container > div .recipients span img .expired-time {width: 12px; height: 12px; top: 1px; left: -6px;}
table#compose td#input_addresses_container > div .recipients span.no_pgp { background: #989898; color: white;}
table#compose td#input_addresses_container > div .recipients span.failed { border: 1px dashed #A44; }
table#compose td#input_addresses_container > div .recipients span.failed .close-icon { opacity: 1; }
table#compose.sign .recipients span { border: none !important; background-color: #f0f0f0 !important; color: black !important; }
table#compose.sign .recipients span.wrong { background: #A44 !important; color: white !important; }
table#compose.sign .recipients span.wrong .close-icon { display: inline-block !important; }
table#compose.sign .recipients span.wrong .close-icon.display_when_sign { display: none !important; }
table#compose.sign .recipients img, table#compose.sign .recipients i { display: none !important; }
table#compose.sign .recipients img.display_when_sign { display: inline-block !important; }
table#compose.sign #password_or_pubkey_container { display: none !important; }

table#compose th span.close_new_message { display: inline-block; position: absolute; right: 0; margin-right: 5px; margin-top: 4px; color: white;
  font-weight: bold; opacity: .7; height: 15px; width: 15px; text-align: center; padding: 5px; }
table#compose th span.close_new_message img { width: 15px; height: 15px; }
table#compose th span.close_new_message:hover { cursor: pointer; opacity: 1; }
table#compose th .action_feedback { position: absolute; right: 35px; top: 8px; opacity: 0.5; }
table#compose th .action_feedback img { width: 20px; }
table#compose th .action_feedback:hover { opacity: 0.9; cursor: pointer; }

table#compose td { border: 1px solid #cfcfcf; border-top: none;  margin: 0; }
table#compose td input { border: none;  height: 100%; width:100%; margin: 0; padding: 6px; padding-left: 9px; background: none; outline: none;}
table#compose td.input.show_send_from { height: 84px; }
table#compose td.input.show_send_from input#input_to { height: 50%; }
table#compose td.input.show_send_from select#input_from { height: 50%; border: none; background: none; padding: 6px; margin-top: 10px; width: 98%; outline: none; }
table#compose tr.bottom { background-color: #f5f5f5; }
table#compose td.bottom { padding: 7px 12px 1px 12px; height: 47px; border-top: 1px solid #cfcfcf;}
table#compose td.bottom div#send_btn { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none; white-space: nowrap; min-width: 120px;
  border: 1px solid transparent; position: relative; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center;
  height: 27px; line-height: 27px; outline: 0; padding: 5px 25px; -webkit-transition: .5s!important; transition: .5s!important; top: -2px; margin: 0; margin-right: 10px; }
table#compose #send_btn i { font-size: 20px; }
table#compose td.bottom div#send_btn_note { display: inline-block; font-size: 12.8px; padding-left: 5px; opacity: 0.5; }
table#compose td.bottom .delete-draft { width: 20px; height: 20px;}
table#compose .bottom .icon { padding: 3px 4px; display: inline-block; border: 1px solid #f5f5f5; border-radius: 2px; opacity: 0.35; vertical-align: middle; user-focus: none; }
table#compose .bottom .icon img, table#compose .bottom .icon i { height: 20px; width: 20px; display: block; background-repeat: no-repeat; background-position: center; }
table#compose .bottom .icon.right { float:right; margin-top: 3px; }
table#compose .bottom .icon:hover { border-color: #dadada; opacity: 1; }
table#compose .bottom .icon:focus { outline: none !important; }
table#compose .bottom .icon:active { border-color: #4d90fe; }
table#compose .bottom .icon div { height: 21px; width: 21px; vertical-align: middle; padding: 0; display: inline-block; margin-top: 4px }
table#compose .bottom .icon.active { opacity: 1; }
table#compose .bottom .icon.action_include_pubkey i { background-image: url(/img/pubkey-icon-16-16-standard.png); }
table#compose .bottom .icon.action_include_pubkey.active i { background-image: url(/img/pubkey-icon-16-16-active.png); }
table#compose .bottom .icon.action_include_footer i { background-image: url(/img/footer-icon.png); }
table#compose .bottom .icon.action_include_footer.active i { background-image: url(/img/footer-icon-active.png); }
table#compose .bottom .icon.action_sign i { background-image: url(/img/svgs/signature.svg); background-size: 20px; }
table#compose .bottom .icon.action_sign.active i { background-image: url(/img/svgs/signature-active.svg); }

table#compose td.text { border-bottom: none; position: relative;}
table#compose td.text div#input_text { padding-top: 8px; padding-left: 8px; outline: none; border: none !important; -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; box-shadow: none !important; height: 100%; word-wrap: break-word; max-width: 525px;
  background-image: url(/img/lock-seamless-bg-alpha.png); overflow-y: auto; padding-bottom: 16px; }
#reply_message table#compose td.text div#input_text { overflow-y: visible; }
#new_message table#compose td.text div#input_text { overflow-x: hidden; }
table#compose td.text .action_add_intro { display: none; position: absolute; right: 8px; border: 4px solid white; padding: 1px 5px; font-weight: bold;
  margin-top: -15px; cursor: pointer; user-select: none; background-color: #31A217; color: white; -webkit-animation: fadeInRight 1s; animation: fadeInRight 1s; }
table#compose .intro_container { display: none; }
table#compose .intro_container > td { height: 90px; }
table#compose .intro_container > td >  p { padding: 8px; margin: 0; color: #999; padding-bottom: 0; }
table#compose .intro_container > td > .input_intro { padding: 8px; border: none; height: 50px; -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; box-shadow: none !important; outline: none; word-wrap: break-word; overflow-y: auto; }

table#compose #fineuploader { position: absolute; bottom: 5px; right: 0; }
table#compose #fineuploader .qq-uploader-selector { overflow: hidden; }
table#compose #fineuploader .qq-total-progress-bar-container { display: none; height: 0; border: 0; visibility: hidden; position: absolute; }
table#compose #fineuploader .qq-upload-list {overflow-x: hidden; }
table#compose #fineuploader .qq-upload-list::-webkit-scrollbar {  width: 0 !important;}
table#compose #fineuploader .qq-upload-list li { border: none; background: #fff; opacity: 0.5; margin-left: 12px; padding: 5px; }
table#compose #fineuploader .qq-upload-list li .qq-upload-file { width: 210px; line-height: 18px; color: black; }
table#compose #fineuploader .qq-upload-list [class^="qq-file-id"] { background: #f3f3f3; border: 1px solid #ccc; margin: 3px 7px; position: relative; }
table#compose #fineuploader .qq-upload-cancel  {background: transparent; border:0; box-shadow: none; }

div#contacts { display: none; position: absolute; background: white; top: 74px; border: 1px solid rgba(0,0,0,.2); left: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 6px 0; z-index: 1; }
body#reply_message div#contacts { top: 39px; }
div#contacts ul { padding: 0; margin: 0; min-width: 320px; }
div#contacts ul li { padding: 13px; height: 16px; }
div#contacts ul li img { padding-left: 6px; padding-right: 12px; height: 13px; position: relative; top: 1px; }
div#contacts ul li:first-child { background: #eee; }
div#contacts ul li.auth_contacts { background: #fff !important; height: 24px; }
div#contacts:hover ul li:first-child { background: none; }
div#contacts:hover ul li:first-child:hover { background: #eee; }
div#contacts:hover ul li:hover { background: #eee; }
div#contacts .button { padding: 4px 20px; }

table#compose tr#password_or_pubkey_container { display: none; }
table#compose tr#password_or_pubkey_container td { height: 66px; padding: 5px 14px; -webkit-animation: fadeInUp 1s; animation: fadeInUp 1s; }
table#compose tr#password_or_pubkey_container td input#input_password::-webkit-input-placeholder { color: #d14836; }
table#compose tr#password_or_pubkey_container td input { padding-left: 3px; padding-right: 3px; border-bottom: 1px solid #cacaca; font-family: 'Open Sans', Arial; color: #d14836; }
table#compose tr#password_or_pubkey_container td input#input_password { width: 150px; color: #d14836; padding: 3px 12px; height: 20px; text-align: center; }
table#compose tr#password_or_pubkey_container td .label_password { position: absolute; margin-left: 10px; margin-top: 22px; font-size: 10px; text-transform: uppercase;
  color: #777; display: none; -webkit-animation: fadeInDown 0.5s; animation: fadeInDown 0.5s; }
table#compose tr#password_or_pubkey_container td .question_copy { margin-top: 20px; }
table#compose tr#password_or_pubkey_container td .grey { padding: 1px 5px; background: #B7B7B7; color: white; display: inline-block; border-radius: 5px; }
table#compose span.start, table#compose span.end { font-weight: 900; position: absolute; font-size: 16px; font-family: 'Open Sans', Arial; }
table#compose span.end { margin-left: -8px; }

body#new_message.popup { width: 474px; height: 600px; }
body#new_message.popup table#compose { width: 490px; border: none; }
body#new_message.popup table#compose tr td { border-left: none; border-right: none; }

div#reply_message_table_container { display: none; }
div#reply_message_prompt { border: 1px solid #d9d9d9 !important; border-top: 1px solid #c0c0c0 !important; min-height: 72px; padding: 8px 0 0 8px; }
div#reply_message_prompt #reply_click_area { width: 95%; height: 50px; margin-top: 3px; position: absolute; }
a#a_reply, a#a_reply_all, a#a_forward {}
p#reply_links { margin: 0; }
div#reply_message_table_container table#compose { border-top: 1px solid #cfcfcf; width: 100%; }
div#reply_message_successful_container { width: 100%; display: none; padding-bottom: 40px; }
div#reply_message_successful_container > table { width: 100%; margin: 0; padding: 0; }
div#reply_message_successful_container > table td { vertical-align: top; }
div#reply_message_successful_container > table tr.first { margin-bottom: 20px; }
div#reply_message_successful_container > table td.right { text-align: right; }
div#reply_message_successful_container > table div.replied_from { font-weight: bold; margin-bottom: 4px; }
div#reply_message_successful_container > table div.replied_to { color: #777; margin-bottom: 10px; }

div#reply_message_successful_container > #attachments { border-top: 1px dotted #CACACA; padding-top: 16px; margin-top: 22px; display: none; }
div#reply_message_successful_container > #attachments > span.pgp_attachment { margin-right: 16px; margin-bottom: 16px; display: inline-block; }
div#reply_message_successful_container > #attachments > span.pgp_attachment > iframe { height: 120px; width: 180px; margin: 0; padding: 0; border: none; overflow: hidden; }

table#compose #error_container_reply_message {background: #f3f3f3; position: absolute;bottom:0; left:0; right:0; padding: 10px 0; z-index: 10; -webkit-animation: fadeInUp .7s;
  animation: fadeInUp .7s; text-indent: 10px; color: #d14836; border: 1px solid #d14836;}
table#compose #error_container_reply_message #error_text_reply_message { display: inline-block; text-indent: 15px; color:#d14836; height: auto; position: absolute; margin-top: 7px;}

.loading_copy { -webkit-animation: fadeIn 1s; animation: fadeIn 1s; text-align: center; font-size: 19px; color: #afafaf; margin-top: 4px;}
.loader { text-align: center; padding-left: 0; margin-left: 0; -webkit-animation: fadeInUp 1s;  animation: fadeInUp 1s;}
.inline_loader {  display: inline; width: 120px; margin: 0 auto!important; padding: 0!important; position: relative;}
.inline_loader svg { display: inline; position: absolute; left:0; right: 0; top: -2px;}

body.attachment { border: 1px solid #dadada; border-radius: 2px; text-align: center; font-size: 11px; z-index: 0; height: 118px; width: 178px; overflow: hidden; }
body.attachment:hover { border-color: #eaeaea; }
body.attachment #download { position: absolute; width: 100px;  z-index: 1; background-color: white; height: 80px; left:68px; opacity: 1; color: #444; visibility: hidden; }
body.attachment #download:hover, body.attachment:hover #download { visibility: visible; cursor: pointer; }
body.attachment #download.visible { visibility: visible; }
body.attachment #download .large_spinner { margin-top: 7px; margin-left: 20px; }
body.attachment #download .download-icon { margin-top: 15px; margin-bottom: 8px; }
body.attachment #download .download-prompt { margin-top:1px; font-size: 14px; }
body.attachment #download .download_progress { position: absolute; top: 39px; margin-left: -1px; font-weight: bold; }
body.attachment #header { margin-top:10px; padding-bottom: 0; font-weight: 400; font-size: 14px; width: 100px; text-align: left; position: absolute; left: 75px; line-height: 1.5;
  top:15px; overflow: hidden;}
body.attachment #type { padding: 10px 0; color: #999; }
body.attachment #name { padding: 7px 12px; background: #f3f3f3; position: absolute; border: 1px solid #dadada; overflow: hidden; white-space: nowrap;
  text-overflow: ellipsis; top: 92px; width: 154px; left: 0; }
body.attachment .file-format-holder { display: inline-block; border-radius: 120px; position: absolute; left: 7px; margin-top: 10px; margin-bottom: 5px;}
body.attachment .file-format-holder img#file-format { width: 45px; height: auto; margin-top: 12px; opacity: .2; margin-left: 10px;}

/* Select Account */
body#select_account { font-family: 'Open Sans', sans-serif; }
body#select_account #title { margin-bottom: 0!important; padding-bottom: 0; font-weight: 600;}
body#select_account { width: 340px;padding: 12px;font-size: 14px;zoom: reset; }
body#select_account ul.emails { margin-top: 0; -webkit-animation: fadeIn .5s; animation: fadeIn .5s; }
body#select_account .emails li { margin: 5px 0; position: relative;}
body#select_account .emails li a { display: block; background: #F5F5F5; border-radius: 4px; border: 1px solid rgba(0,0,0,.07); width: 99%; padding: 10px 0; text-align: left; text-indent: 55px; font-size: 13px; text-transform: none; font-weight: 500; color: #0A9FD3; transition: .5s;}
body#select_account .emails li a:hover { background: #f0f0f0; }
body#select_account .emails li:before { position: absolute; content: ''; width: 30px; height: 30px;border: 1px solid #ccc; border-radius: 120px; top: 14px; left: 12px; }
body#select_account .add-account-link { display: block; padding: 15px 0; text-indent: 55px; position: relative; margin-top: -5px; font-size: 13px; text-decoration: none; -webkit-animation: fadeIn .5s; animation: fadeIn .5s; }
body#select_account .add-account-link:before { background: url('../img/svgs/plus-sign.svg'); width: 30px; height: 30px; background-repeat: no-repeat; position: absolute; content: ''; left: 19px; top: 13px; }

/* cryptup dialog */
div#cryptup_dialog { position: absolute; top:0; width: 100%; height: 100%; margin: 0 auto; z-index: 10; background-color:rgba(255, 255, 255, 0.85); }
div#cryptup_dialog iframe { position: absolute; width: 640px; height: 370px; top: 50%; left: 50%; margin-left: -300px; margin-top: -200px; border: none;
  box-shadow: 10px 10px 5px #888888; box-shadow: 0 0 25px #AAA; }
div#cryptup_dialog iframe.short { height: 300px; margin-top: -300px; }
div#cryptup_dialog iframe.medium { height: 500px; margin-top: -300px; }
div#cryptup_dialog iframe.tall { height: 780px; margin-top: -390px; }

.featherlight { z-index: 8 !important; }

.display_none { display: none; }
