/* Business Source License 1.0 © 2016 Tom James Holub (tom@cryptup.org). Use limitations apply. This version will change to GPLv3 on 2020-01-01. See https://github.com/tomholub/cryptup-chrome/tree/master/src/LICENCE */

body, html {
  font-family: 'Open Sans', Arial!important;
  position: relative;
  height: 100%;
  width: auto;
}
.new_message_featherlight .featherlight-content, .new_message_featherlight .featherlight-content iframe {
  overflow: hidden !important;
}
.new_message_featherlight .featherlight-content .featherlight-close-icon {
  display: none;
}
#header-row img.cryptup-logo {
  width: 100px;
  height: auto;
  margin-right: 5px;
  text-align: left;
}
#header-row .logo-row {
  margin-top: 10px;
}
#header-row a.cryptup-logo-row {
  text-decoration: none;
}
#header-row .cryptup-logo-row span {
  opacity: .7;
  transition: .3s;
  top: 7px;
  position: absolute
}
#header-row .cryptup-logo-row:hover span {
  opacity: 1;
}
#security_module {
  min-height: 180px;
}
#alt-accounts .separator {
  background: black;
  width: 90%;
  margin: 5px auto 10px auto!important;
  height: 1px;
  opacity: .2;
}
#alt-accounts.accounts-row {
  /*animation: fadeInUp.4s;*/
  display: none;
}
#alt-accounts.accounts-row.active {
  display: block;
  animation: fadeInDown .4s;
}
#alt-accounts.accounts-row {
  background: #f3f3f3;
  height: auto;
  padding: 10px 5px 10px 5px;
  position: absolute;
  right: -27px;
  /*left: 0;*/
  width: 343px;
  margin: 0 auto;
  margin-top: 30px;
  padding-right: 38px;
  z-index: 10;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
}
#alt-accounts.accounts-row .row.alt-accounts {
  /*background: pink;*/
  margin: 3px 0;
  padding: 10px 0;
  cursor: pointer;
  height: auto;
  border: 1px solid #f3f3f3;
  position: relative;
}
.row.alt-accounts:hover {
  background: rgba(0, 0, 0, .019);
}
.accounts-options-row {
  padding: 0!important;
}
.accounts-options-row:hover {
  background: transparent!important;
}
.alt-accounts .ion-ios-checkmark, .alt-accounts .ion-ios-close {
  /* right: -22px;
  top: 15px;
  bottom: 0; */
  position: absolute;
  right: 1px;
  top: 6px;
  bottom: 5px;
  font-size: 20px;
}
.alt-accounts .ion-ios-checkmark {
  color: #31A217;
}
.alt-accounts .ion-ios-close {
  color: gray;
}
#alt-accounts.accounts-row .alt-accounts {
  /*background: black;*/
  height: 40px;
  text-align: right;
}
#alt-accounts.accounts-row .alt-accounts .email-address {
  /*background: black;*/
  text-align: right;
  display: block;
}
#alt-accounts.alt-accounts.accounts-options-row {
  padding-top: 0;
  display: block;
}
.accounts-options-row {
  border-top: 2px solid #ccc;
  padding: 5px 0;
  margin: 0 auto!important;
}
.settings-icons-rows {
  max-width: 800px;
  margin: 0 auto!important;
}
.accounts-options-row .btn a {
  border: 1px solid #d3d3d3;
  display: inline-block;
  padding: 5px 14px;
  background: white;
}
.ion-ios-person-outline {
  font-size: 85px;
  color: white;
  top: -7px;
  left: 49px;
  right: 0;
  position: absolute;
  z-index: 5;
}
#header-row .profile-img, #header-row .fa-user {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid #f3f3f3;
  border-radius: 120px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  padding-top: 7px;
  color: #666;
}
#header-row .ion-android-person {
  text-align: center;
  margin-bottom: 0;
}
.accounts-row .alt-accounts .profile-img {
  position: absolute;
  width: 30px!important;
  border: 1px solid #f3f3f3!important;
  top: 5px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px!important;
}
#settings-row .separator {
  background: rgba(0, 0, 0, .09);
  width: 60%;
  margin: 15px auto 20px auto;
  height: 1px;
}
#settings-row .my-keys-row {
  margin-top: 60px;
  padding-top: 30px;
  margin-left: 0!important;
  text-indent: 0;
  padding-left: 0!important;
}
#settings-row .my-keys-row .key_words, #settings-row .my-keys-row .key_id {
  text-align: left;
}
.profile-row .down-option {
  /*background: black;*/
  width: 40px;
  font-size: 25px;
  position: absolute;
  right: 21px;
  text-align: center;
  margin: 0px auto 0 auto;
  bottom: -40px;
  display: inline-block;
}
.profile-row .add-account {
  /*background: blue;*/
  position: absolute;
  font-size: 12px;
  bottom: -30px;
  opacity: .6;
  text-decoration: underline;
  right: 81px;
}
#settings-row .fa.fa-key {
  font-size: 22px;
  color: #31A217;
  width: 30px;
  position: absolute;
  left: 0;
}
.fa.fa-shield {
  color: #31A217;
  font-size: 22px;
  position: absolute;
  left: 4px;
}
#settings-row .my-keys-copy {
  text-indent: 25px;
  display: inline-block;
}
#settings-row h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
#settings-row {
  padding: 50px 0;
}
#settings-row .box {
  background-color: #31A217;
  background-image: -webkit-linear-gradient(140deg, #31A217 -40%, green 0%, #31A217 100%);
  border: 0;
  /*background: #31A217;*/
  display: block;
  width: 110px;
  height: 110px;
  margin: 0 auto 15px auto;
}
#settings-row .box:hover svg {
  opacity: 1;
  transition: .6s;
  transform: scale(1.025);
}
#settings-row .box svg {
  color: white;
  opacity: .9;
  position: absolute;
  top: 21px;
  bottom: 0;
  margin: 0 auto;
  text-align: center!important;
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: inherit;
  transition: .6s;
}
#settings-row .box svg.contacts {
  margin-top: -7px;
}
#settings-row a p {
  /*font-weight: 600;*/
  margin-top: 15px;
  width: 120px;
  font-size: 17px;
}
#settings-row a {
  text-decoration: none;
}
.ion-ios-arrow-down {
  transition: .5s;
}
.ion-ios-arrow-down.up {
  -webkit-transform: rotate(-180deg);
  /* Safari */
  transform: rotate(-180deg);
}
.abs-row {
  position: absolute;
  top: -40px;
  width: 100%;
}
.abs-row span.change-passphrase {
  display: inline-block;
  position: absolute;
  right: 10px;
}
.abs-row .ion-locked {
  position: absolute;
  left: 0;
  margin-left: 0;
  padding-left: 0!important;
  text-indent: 5px;
}
.security-copy {
  margin-left: 25px;
}
#footer-row {
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
  text-align: center;
  right: 0;
  left: 0;
  font-weight: 600;
  -webkit-animation: fadeInUp 2s;
  /*top:0;*/
}
input#passphrase-to-open-email {
  margin-left: 15px;
  margin-right: 5px;
}
body#settings .container-fluid.advanced {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
}
body#settings .advanced {
  display: none;
}
body#settings.advanced .advanced {
  display: block;
  animation: fadeIn .7s;
}
body#settings.advanced a.advanced {
  display: inline;
}
body#settings.advanced .basic {
  display: none;
}
body#settings .basic {
  animation: fadeIn .7s;
}
body#settings .settings-border {
  border: 1px solid rgba(0, 0, 0, .2);
  width: 47%;
  margin: 10px;
  min-height: 188px;
  text-align: left;
}
body#settings .settings-border .row {
  padding: 10px 0;
}
body#settings .settings-border .key-content-row:nth-child(odd) {
  /*background: #f3f3f3;*/
}
@media (max-width: 991px) {
  .my-keys-row .settings-border {
    margin: 35px auto!important;
    width: 100%!important;
  }
}
@media (max-width: 761px) {
  #footer-row {
    position: relative;
  }
}
