/* Business Source License 1.0 © 2016 Tom James Holub (tom@cryptup.org). Use limitations apply. This version will change to GPLv3 on 2020-01-01. See https://github.com/tomholub/cryptup-chrome/tree/master/src/LICENCE */

body, html { font-family: 'Open Sans', sans-serif, Arial!important; position: relative; height: 100%; width: auto; }
.new_message_featherlight .featherlight-content, .new_message_featherlight .featherlight-content iframe { overflow: hidden !important;}
.new_message_featherlight .featherlight-content .featherlight-close-icon { display: none; }

#header-row .logo-row img.cryptup-logo { width: 100px; height: auto; margin-right: 5px; text-align: left; margin-top: -2px; }
#header-row .logo-row { margin-top: 10px; }
#header-row .logo-row #v { display: inline-block; margin-right: 15px; }
#header-row .logo-row .subscription > span { display: inline-block; margin-left: 15px; }
#header-row .logo-row .subscription .level, #header-row .logo-row .subscription .upgrade, #header-row .logo-row .subscription .expire { display: none; }
#header-row .logo-row .subscription .upgrade { opacity: 0.7; cursor: pointer; }
#header-row .logo-row .subscription .upgrade:hover { opacity: 1; }
#header-row .logo-row a.cryptup-logo-row { text-decoration: none; }
#header-row .logo-row .cryptup-logo-row span { opacity: .7; transition: .3s; top: 5px;}
#header-row .logo-row .cryptup-logo-row:hover span { opacity: 1;}

#security_module { min-height: 180px; }
#alt-accounts .separator { background: black; width: 90%; margin: 5px auto 10px auto!important;height: 1px; opacity: .2; }
#alt-accounts.accounts-row { display: none;}
#alt-accounts.accounts-row.active { display: block; animation: fadeInDown .4s;}
#alt-accounts.accounts-row {
  background: #f3f3f3;
  height: auto;
  padding: 10px 5px 10px 5px;
  position: absolute;
  right: -27px;
  /*left: 0;*/
  width: 343px;
  margin: 0 auto;
  margin-top: 30px;
  padding-right: 38px;
  z-index: 10;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
}
#alt-accounts.accounts-row .row.alt-accounts {
  /*background: pink;*/
  margin: 3px 0;
  padding: 10px 0;
  cursor: pointer;
  height: auto;
  border: 1px solid #f3f3f3;
  position: relative;
}
.row.alt-accounts:hover {
  background: rgba(0, 0, 0, .019);
}
.accounts-options-row {
  padding: 0!important;
}
.accounts-options-row:hover {
  background: transparent!important;
}
#alt-accounts.accounts-row .alt-accounts {
  /*background: black;*/
  height: 40px;
  text-align: right;
}
#alt-accounts.accounts-row .alt-accounts .email-address {
  /*background: black;*/
  text-align: right;
  display: block;
}
#alt-accounts.alt-accounts.accounts-options-row {
  padding-top: 0;
  display: block;
}
.accounts-options-row {
  border-top: 2px solid #ccc;
  padding: 5px 0;
  margin: 0 auto!important;
}
.settings-icons-rows {
  max-width: 800px;
  margin: 0 auto!important;
}
.settings-icons-rows > .col-xs-2 {
  padding-left: 0;
  padding-right: 0;
}
.accounts-options-row .btn a {
  border: 1px solid #d3d3d3;
  display: inline-block;
  padding: 5px 14px;
  background: white;
}
#header-row .profile-img, #header-row .profile-img {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid #cccccc;
  border-radius: 120px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  padding-top: 7px;
  opacity: .8;
}
.settings-icons-rows span.key_block_icon {
  color: white;
  font-weight: 600;
  font-family: monospace;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: -1px;
}
.accounts-row .alt-accounts .profile-img {
  position: absolute;
  width: 30px!important;
  border: 1px solid #f3f3f3!important;
  top: 5px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px!important;
}
#settings-row .separator {
  background: rgba(0, 0, 0, .09);
  width: 60%;
  margin: 15px auto 20px auto;
  height: 1px;
}
#settings-row .my-keys-row {
  margin-top: 60px;
  padding-top: 30px;
  margin-left: 0!important;
  text-indent: 0;
  padding-left: 0!important;
}
#settings-row .my-keys-row .key_words, #settings-row .my-keys-row .key_id {
  text-align: left;
}
.profile-row #toggle-accounts-profile-img {
  padding-left: 5px;
  position: relative;
  top: -3px;
  left: -8px;
}
.profile-row .down-option {
  /*background: black;*/
  width: 40px;
  font-size: 25px;
  position: absolute;
  right: 21px;
  text-align: center;
  margin: 0px auto 0 auto;
  bottom: -40px;
  display: inline-block;
}
.profile-row .add-account {
  position: absolute;
  font-size: 11px;
  bottom: -10px;
  opacity: .6;
  text-decoration: underline;
  right: 58px;
}
#settings-row .fa.fa-key {
  font-size: 22px;
  color: #31A217;
  width: 30px;
  position: absolute;
  left: 0;
}
.fa.fa-shield {
  color: #31A217;
  font-size: 22px;
  position: absolute;
  left: 4px;
}
#settings-row .my-keys-copy {
  text-indent: 5px;
  font-weight: 600;
  display: inline-block;
}
#settings-row h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
#settings-row {
  padding: 50px 0;
}
#settings-row .box {
  background-color: #31A217;
  background-image: -webkit-linear-gradient(140deg, #31A217 -40%, green 0%, #31A217 100%);
  border: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  width: 115px;
  height: 130px;
  transition: .1s;
  margin: 0 auto;
}
#settings-row .box:hover img {
  opacity: 1;
  transform: scale(1.075);
}
#settings-row .box img {
  color: white;
  opacity: .9;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 75px;
  margin: 0 auto;
  text-align: center!important;
  display: block;
  transition: .2s ease-out;
}
#settings-row .box::after {
  content: '';
  position: absolute;
  bottom: 2px;
  width: 115px;
  height: 40px;
  border: 1px solid #343434;
  opacity: .2;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  z-index: -3
}
#settings-row a p {
  font-weight: 600;
  width: 110px;
  text-align: center;
  margin: 2px auto 5px auto;
  color: #343434;
  text-transform: uppercase;
  font-size: 17px;
  opacity: .5;
  letter-spacing: -0.4px;
}
#settings-row a {
  text-decoration: none;
}
.abs-row {
  position: absolute;
  top: -40px;
  width: 100%;
}
.abs-row span.change-passphrase {
  display: inline-block;
  position: absolute;
  right: 10px;
}
.abs-row .key-icon {
  width: 35px;
  margin-left: 0;
}
.abs-row .shield-icon {
  width: 18px;
  margin-top: -4px;
}
.security-copy {
   margin-left: 5px;
   font-weight: 600;
}

#footer-row {
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
  text-align: center;
  right: 0;
  left: 0;
  font-weight: 600;
  -webkit-animation: fadeInUp 2s;
}
input#passphrase-to-open-email {
  margin-left: 15px;
  margin-right: 5px;
}
body#settings .container-fluid.advanced {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
}
body#settings .advanced {
  display: none;
}
body#settings.advanced .advanced {
  display: block;
  animation: fadeIn .7s;
}
body#settings.advanced a.advanced {
  display: inline;
}
body#settings.advanced .basic {
  display: none;
}
body#settings .basic {
  animation: fadeIn .7s;
}
body#settings .settings-border {
  border: 1px solid rgba(0, 0, 0, .2);
  width: 47%;
  margin: 10px;
  min-height: 188px;
  text-align: left;
}
body#settings .settings-border .row {
  padding: 10px 0;
}
#settings-row .box img.security-icon {
  width: 70px;
}
#settings-row .box img.keys-icon {
  width: 65px;
  top: 21px;
}
#settings-row .box img.feedback-icon {
  width: 77px;
  top: 23px;
}
#settings-row .box img.new-email-icon {
  width: 78px;
  top: 20px;
}
#settings-row .box img.pub-key-icon {
  width: 63px;
  top: 21px;
}
#settings-row .box img.contacts-icon {
  width: 82px;
  top: 22px;
}
#settings-row .box img.servers-icon {
  width: 84px;
  top: 23px;
}
@media (max-width: 991px) {
  .my-keys-row .settings-border {
    margin: 35px auto!important;
    width: 100%!important;
  }
}
@media (max-width: 761px) {
  #footer-row {
    position: relative;
  }
}
