body { text-align: center; }
body > div#content {  margin-top: 5%; }
body > div#content > h1 { font-size: 32px; font-weight: 100; color: #999; margin-bottom: 60px; }
body > div#content .button { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none;
  border: 1px solid transparent; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; text-align: center; white-space: nowrap;
  min-width: 56px; line-height: 27px; outline: 0; vertical-align: middle; margin-top: -9px; padding: 4px 15px; text-decoration: none; }
body > div#content .button.long { width: 200px; }
body > div#content .button.red { background-color: #d14836; }
body > div#content .button.green { background-color: #088447; background-image: -webkit-linear-gradient(top, #0F8C4F, #088447); }
body > div#content .button.gray { background-color: #B9B9B9; background-image: -webkit-linear-gradient(top, #C9C9C9, #BFBFBF); }
body > div#content .hover_underline { text-decoration: none; }
body > div#content .hover_underline:hover { text-decoration: underline; cursor: pointer; }
body > div#content a:hover { text-decoration: none; }
body > div#content > div#accounts a.button.has_email { width: 300px; text-align: left; font-weight: 100; color: #CCC; }
body > div#content > div#accounts a.button.has_email b { padding-right: 10px; color: #FFF; }
body > div#content div.line { min-height: 18px; padding: 12px 0; }
body > div#content div.col { width: 280px; display:inline-block; }
body > div#content p { margin: 21px 0; }

body > div#content.setup div#step_0_found_key { display: none; }
body > div#content.setup div#step_1_easy_or_manual { display: none; }
body > div#content.setup div#step_2_easy_generating { display: none; text-align: center; margin-top: 100px; background: white; text-align: center; font-size: 16px; font-weight: normal;
  padding-left: 375px; padding-top: 164px; color: #666; }
body > div#content.setup div#step_2_easy_generating i { font-size: 490px !important; position: absolute; color: #eee; top: 59px; left: -163px; }
body > div#content.setup div#step_2_manual { display: none; }
body > div#content.setup div#step_2_manual > div { width: 600px; text-align: left; display: inline-block; }
body > div#content.setup div#step_2_manual textarea { width: 600px; height: 300px; font-size: 12px; text-align: left; margin-top:-15px; padding: 8px; }
body > div#content.setup div#step_2_manual input[type=password] { width: 200px; height:32px; border: 1px solid gray; padding-left:8px;}
body > div#content.setup div#step_2_manual div.line_container { width: 534px; display: block; position: relative; text-align: left; margin: 0px auto;}
body > div#content.setup div#step_2_manual a.back i { color:  rgba(0, 0, 0, 0.5); font-size: 30px; position: absolute; top:5px; left:10px;}
body > div#content.setup div#step_2_manual input[type=checkbox] { margin: 0 6px; margin-right: 0px; -webkit-transform: scale(1.6); transform: scale(1.6); position: relative; top: 2px; }
body > div#content.setup div#step_2_manual label { padding-left: 20px;  }
body > div#content.setup div#step_2_manual div#btn_save_private { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none; background-color: #d14836; border: 1px solid transparent; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; white-space: nowrap; min-width: 56px; line-height: 27px; outline: 0; vertical-align: middle; margin-top: -9px; background-color: #088447 !important; background-image: -webkit-linear-gradient(top,#0F8C4F,#088447); padding: 4px 35px; margin-left: 5px; }
body > div#content.setup div#step_2_manual div#btn_save_private { text-transform: uppercase; display: inline-block; -webkit-box-shadow: none; box-shadow: none; background-color: #d14836; border: 1px solid transparent; color: #fff; border-radius: 2px; cursor: default; font-size: 11px; font-weight: bold; text-align: center; white-space: nowrap; min-width: 56px; line-height: 27px; outline: 0; vertical-align: middle; margin-top: -9px; background-color: #088447 !important; background-image: -webkit-linear-gradient(top,#0F8C4F,#088447); padding: 4px 35px; margin-left: 5px; }
body > div#content.setup div#step_2_manual h2 { display: inline-block; margin:0; margin-top: -18px; margin-bottom: 26px;}
body > div#content.setup div#step_3_done { display: none; }
body > div#content.setup div#loading { margin-top: 150px; }

body > div#footer { width: 99%; position: absolute; bottom: 0px; padding: 0px; margin: 0px; text-align: center;}
body > div#footer > div { width: 95%; display: inline-block; padding: 30px 0; text-align: right; }
